.env
.idea
.DS_Store
.vscode
env
encrypt.key
__pycache__
.gcloudignore
app.yaml
nginx.conf
google-cloud-sdk
venv
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.elasticbeanstalk
