argon2-cffi~=21.3.0
starlette==0.26.1
python-dotenv==1.0.0
Jinja2~=3.1.2
cryptography==40.0.2
pymongo~=4.3.3
motor==3.1.2
requests==2.30.0
google-oauth==1.0.0
google-auth==2.18.0
google~=3.0.0
mistune~=2.0.5
websockets==11.0.3
DateTime==5.1
pip==23.1.2
argparse~=1.4.0
wheel==0.40.0
lxml~=4.9.2
setuptools==67.7.2
uvicorn==0.22.0
apscheduler==3.10.1
SQLAlchemy==2.0.13
twilio~=8.2.0
