html, body {
    background: var(--darkblue);
    height: unset;
    width: unset;
    overflow-x: hidden;
}

#logo {
    margin: 0 auto 0 -30px;
}

header {
    padding: 10px;
}

header a {
    display: block !important;
}

#hamburger {
    margin-right: 0;
    z-index: 2;
}

#form_box {
    width: 100%;
    padding: 75px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#password, #confirm-password, #email {
    width: 28vw;
    min-width: 250px;
    font: 500 15px Montserrat;
    height: 40px;
    padding: 20px;
    background-color: white;
    opacity: 0.4;
    border: none;
    color: black;
    border-radius: 7px;
    margin-top: 20px;
}

h1, h2 {
    width: 100%;
    text-align: center;
}

#sent_email {
    margin-top: 100px;
    width: 80%;
    padding: 0 10%;
    font-size: 30px;
}

.error {
    color: #A40606;
    font: 400 14px Montserrat, SansSerif;
    display: none;
}

.hover-arrow {
    padding-left: 20px;
}