html, body {
    background: #091B30;
    height: unset;
    width: unset;
}

#logo {
    margin: 0 auto 0 0;
}

header {
    padding: 10px;
}

#hamburger {
    margin-right: 0;
    z-index: 2;
}

#form_box {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin-left: 10%;
}

#email {
    width: 28vw;
    font: 500 15px Montserrat;
    height: 40px;
    padding: 16px 61px 16px 28px;
    background-color: white;
    opacity: 0.4;
    border: none;
    color: black;
    border-radius: 7px;
    margin-top: 30px;
}

#form_box h1 {
    width: 100%;
}