html, body {
    background: #091B30;
    height: unset;
    width: unset;
    overflow-x: hidden;
}

#logo {
    margin: 0 auto 0 -30px;
}

header {
    padding: 10px;
}

header a {
    display: block !important;
}

#hamburger {
    margin-right: 0;
    z-index: 2;
}

#form_box {
    width: 100%;
    padding: 75px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#password, #confirm-password {
    width: 28vw;
    min-width: 250px;
    font: 500 15px Montserrat;
    height: 40px;
    padding: 20px;
    background-color: white;
    opacity: 0.4;
    border: none;
    color: black;
    border-radius: 7px;
    margin-top: 20px;
}

#form_box h1 {
    width: 100%;
    text-align: center;
}

#reset {
    border: none;
    background: #2B8FD8;
    width: 250px;
    height: 70px;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    font: 400 20px Montserrat, serif;
    transition: 0.3s;
}

#reset:hover {
    margin: 25px 0 0 5px;
    box-shadow: 5px 5px 10px black
}