:root {
    --underline-1-width: 0%;
    --underline-2-width: 0%;
    --underline-3-width: 0%;
    --lightblue: #2B8FD8;
    --darkblue: #091B30;
    --blue: #142539;
}

button:focus{outline: none}

input:focus {outline: none}

html {background-color: var(--blue)}

button:hover {cursor: pointer}

a {
    text-decoration: none;
    color: white;
    font-family: Montserrat;
}

select {cursor: pointer}

.footer_text {
    left: 10px;
    display: inline;
    position: relative;
}

.footer_text:hover {color: #0AFFED;}

.footer {
    opacity: 0.5;
    font-size: 14px;
    display: block;
    float: left;
    margin: 40px 0 0 -80px;
}

.footer_image {
    height: 15px;
    width: 15px;
    display: inline;
    position: relative;
    margin-left: 25px;
}

.header {
    height: 8vh;
    min-height: 50px;
    margin-bottom: 50px;
    position: relative;
    top: 1px;
    width: 98vw;
}

.left_content {
    float: left;
    height: 150%;
    width: 50vw;
    padding-left: 40px;
    display: inline;
    font-family: Montserrat;
}

.right_content {
    float: right;
    height: 100%;
    width: 50vw;
    padding-right: 15px;
    display: inline;
    font-family: Montserrat;
}

button {color: white}

svg {
    z-index: -1;
    height: 1000%;
    width: 110vw;
    position: fixed;
    fill:var(--darkblue);
}

.blurred {opacity: 0.2}

.hidden {visibility: hidden}

.footer_links {
    height: 60px;
    min-height: 60px;
    min-width: 890px;
    max-width: 960px;
    margin: 80vh 5vw 0 max(0px, calc(45% - 400px));
    border-radius: 10px;
    background-color: var(--blue);
    text-align: center;
    display: flex;
    padding-left: 40px;
    box-sizing: border-box;
    flex-direction: row;
}

.footer_link {
    top: 10px;
    display: inline;
    font-family: Montserrat;
    font-size: 12px;
    opacity: 1;
}

.footer_link:hover {color: #0AFFED}

.links_footer_image {
    height: 20px;
    width: 15px;
    display: inline;
    margin: 20px 10px -5px 15px;
}

div {font-family: Montserrat; color: white;}

.logo {
    float: left;
    height: 35px;
    width: 35px;
    margin: 29px 0 0 55px;
}

.where_it_happens {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    width: 700px;
    left: 28vw;
    bottom: 75px;
    position: relative;
}

.enable {
    font-size: 16px;
    font-weight: 600;
    opacity: 0.7;
    text-align: center;
    width: 600px;
    left: 31vw;
    bottom: 60px;
    position: relative;
}

.header_link {
    background: none;
    border: none;
    font-family: Montserrat;
    margin-right: 30px;
}

select {-webkit-appearance:none}

#header_links {
    background-color: var(--blue);
    height: 80px;
    padding: 0 40px 20px 15px;
    display: flex;
    justify-content: space-between;
    width: 98% !important;
}

.button {
    text-align: center;
    height: 50px;
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
}

.gone {
    display: none !important;
}

.flex {display: flex}

input:invalid {box-shadow: none}

.login_button {
    background: none;
    border: 2px solid white;
    border-radius: 10px;
    margin: 15px 30px 20px 20px;
    height: 50px;
    width: 110px;
    min-width: 100px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 11.5px;
    transition: 0.5s;
}

.login_button:hover {
    background: var(--lightblue);
}

.login_button img {
    margin-left: 3px;
}

.underline {
  position: relative;
}

.underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 23px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

html::-webkit-scrollbar, .notes::-webkit-scrollbar {
    width: 8px;
}

.noscroll::-webkit-scrollbar {
    width: 0;
}

html::-webkit-scrollbar-track, .notes::-webkit-scrollbar-track {
    border-radius: 12px;
}

html::-webkit-scrollbar-thumb, .notes::-webkit-scrollbar-thumb {
    background: var(--lightblue);
    border-radius: 5px;
}

.nobar::-webkit-scrollbar-thumb {
    display: none;
}

.hover-arrow {
    border: none;
    background: var(--lightblue);
    width: 250px;
    height: 70px;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    font: 400 20px Montserrat, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 5%;
    transition: 0.2s;
}

.hover-arrow img {
    height: 25px;
    opacity: 0;
    transition: 0.3s;
}

.hover-arrow:hover {
    margin-left: 20px;
    margin-right: 0 !important;
    box-shadow: 3px 3px 6px black
}

.hover-arrow:hover img {
    opacity: 1;
    padding-left: 15px;
}

.disabled {
    opacity: 0.7;
    cursor: not-allowed;
    pointer-events: none;
}