button:focus{outline: none}

input:focus {outline: none}

html {background-color: #142539}

button:hover {cursor: pointer}

a {
    text-decoration: none;
    color: white;
    font-family: Montserrat;
}

.footer_text {
    left: 10px;
    display: inline;
    position: relative;
}

.footer_text:hover {color: #0AFFED;}

.footer {
    opacity: 0.5;
    font-size: 14px;
    display: block;
    float: left;
    margin: 40px 0 0 -80px;
}

.footer_image {
    height: 15px;
    width: 15px;
    display: inline;
    position: relative;
    margin-left: 25px;
}

.header {
    height: 8vh;
    min-height: 50px;
    margin-bottom: 50px;
    position: relative;
    top: 1px;
    width: 98vw;
}

.left_content {
    float: left;
    height: 150%;
    width: 50vw;
    padding-left: 40px;
    display: inline;
    font-family: Montserrat;
}

.right_content {
    float: right;
    height: 100%;
    width: 50vw;
    padding-right: 15px;
    display: inline;
    font-family: Montserrat;
}

button {color: white}

svg {
    z-index: -1;
    height: 1000%;
    width: 110vw;
    position: fixed;
    fill:#091B30;
}

.blurred {opacity: 0.2}

.hidden {visibility: hidden}

.footer_links {
    min-height: 60px;
    max-width: 960px;
    margin: 100px 5vw -20px 18vw;
    border-radius: 72px;
    background-color: #142539;
    text-align: center;
}

.footer_link {
    top: 10px;
    display: inline;
    font-family: Montserrat;
    font-size: 12px;
    opacity: 1;
}

.footer_link:hover {color: #0AFFED}

.links_footer_image {
    height: 15px;
    width: 15px;
    display: inline;
    margin: 20px 10px 0 15px;
}

.header_links {
    background-color: #142539;
    height: 80px;
    width: 100%;
    position: relative;
    padding-bottom: 15px;
}

div {font-family: Montserrat; color: white;}

.logo {
    float: left;
    height: 35px;
    width: 35px;
    margin: 29px 0 0 55px;
}

.where_it_happens {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    width: 700px;
    left: 28vw;
    bottom: 75px;
    position: relative;
}

.enable {
    font-size: 16px;
    font-weight: 600;
    opacity: 0.7;
    text-align: center;
    width: 600px;
    left: 31vw;
    bottom: 60px;
    position: relative;
}

.header_link {
    background: none;
    border: none;
    font-family: Montserrat;
    margin-right: 30px;
}

select {-webkit-appearance:none}

body: {display: flex}

#header_links {
    background-color: #142539;
    height: 80px;
    padding: 0 40px 20px 15px;
    display: flex;
    justify-content: flex-end;
    z-index: 7;
}

.button {
    text-align: center;
    height: 50px;
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
}

.gone {display: none}

.flex {display: flex}

input:invalid {box-shadow: none}

.login_button {
    background: none;
    border: 2px solid white;
    border-radius: 70px;
    margin: 15px 30px 20px 20px;
    height: 50px;
    width: 110px;
    min-width: 100px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 11.5px;
}

.login_button:hover {
    background: #2B8FD8;
}

.login_button img {
    margin-left: 3px;
}