#alert {
    background-color: #A40606;
    font: 16px Montserrat;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#plus_button {
    margin-top: 20px;
    border-radius: 100px;
    padding: 30px
}

#plus_button:hover {cursor: pointer;}

#click_the_plus {
    font-weight: 500;
    font-size: 16px;
    text-align: right;
    margin-left: auto;
}

#sort_by {
    left: 45px;
    position: absolute;
    top: 200px;
    font-size: 20px;
}

#sort {
    position: absolute;
    top: 240px;
    left: 45px;
    border-radius: 3px;
    background-color: #2B8FD8;
    color: white;
    border: none;
    width: 85px;
    padding: 5px;
}

#links_html {background-color: #091B30; overflow: visible; overflow-x: hidden !important; margin-bottom: 30px}

#home {margin: 22px min(140px, 5vw) 0 0;}

.header_button {margin-top: 17px;}

#close_alert {
    border: none;
    font-size: 16px;
    background: none;
    margin-left: 30px;
}

#popup {
    display: none;
    background-color: #091B30;
    flex-direction: column;
    justify-content: flex-start;
    width: 33vw;
    min-width: 500px;
    height: 34vw;
    min-height: 530px;
    position: absolute;
    top: 100px;
    border-radius: 10px;
    left: 35vw;
    box-shadow: 6px 6px 10px black;
    z-index: 5
}

#name, #link, #password {
    background-color: #091B30;
    border: none;
    border-bottom: 2px solid white;
    margin: 5% 0 0 10px;
    font-size: max(1.2vw, 16px);
    text-align: left;
    padding-bottom: 5px;
    width: 70%;
}

#name {margin-top: 3% !important}

#name::placeholder, #link::placeholder, #password::placeholder, #hour::placeholder, #minute::placeholder {font-size: max(1vw, 14px); opacity: 0.42;}

#title {
    font-size: max(1.3vw, 22px);
    font-weight: 600;
    text-align: left;
    margin: 5% 0 0 65px;
}

input {color: white; font-family: Montserrat;}

#repeats {
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

#repeats_text {
    font-family: Roboto;
    font-size: 18px;
    text-align: left;
}

.flex_right {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

#repeats_container {margin: 15px 0 0 60px;}

.popup_select {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    font-family: Roboto;
    font-size: 16px;
    color: white;
}

#select {margin-left: 30px; font-size: 18px; padding: 5px}

#days {
    margin: 20px 0 -10px 45px;
    display: flex;
    justify-content: space-between;
    width: 83%;
    padding: 10px;
    border-radius: 30px
}

#days button {
    border-radius: 100px;
    text-align: center;
    background: #142539;
    height: max(3vw, 50px);
    width: max(3vw, 50px);
    border: none;
    font: 500 max(1.2vw, 18px) Roboto;

}

#days button.selected {background: #2B8FD8;}

#starts_container {margin: 20px 0 0 50px;}

#starts_container div, #starts_container select {display: inline; margin-left: 30px;}

#submit, #submit_dates{
    width: max(10vw, 150px);
    height: max(4vw, 65px);
    background-color: #2B8FD8;
    border-radius: 84px;
    text-align: center;
    border: 0px solid;
    font: 600 max(1.25vw, 20px) Montserrat;
    margin-left: 70px;
}

#submit_dates {margin: 50px 50px 0 0;}

#dates {width: 40%; flex-direction: column; margin: 30px 0 0 80px;}

#first_date {margin: 0 -80px 0 60px;}

#dates input, #first_date {
    border: none;
    border-bottom: 2px solid white;
    font: 400 16px Roboto;
    background: none;
}

.flex img {
    margin: 5% 0 0 60px;
}

#add_field {
    background: none;
    border: none;
    margin-left: 50px;
}

input[type=date] {
    width: 150px;
}

.link_event_title {
    font-size: 18px;
    margin: 20px 0 10px 0;
    box-sizing: border-box;
    text-align: center;
}

.link_event {
    background: #142539; /*linear-gradient(-45deg, rgba(,0,0,0.22), rgba(150,150,150,0.25));*/
    border-radius: 30px;
    margin: 40px 0 0 13vw;
    display: flex;
    height: 240px;
    padding: 25px 50px 0px 45px;
    margin-left: max(10vw, 100px) !important;
    width: 23vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    max-width: 600px;
    min-height: 175px;
    /*box-shadow:
    -8px -8px 12px 0 rgba(0, 0, 0, 0.7),
    12px 12px 16px 0 rgba(255, 255, 255, 0.1);
    box-shadow: 6px 6px 10px black;*/
    border: 7px solid #59697E;
}

.buttons_container {
    font-weight: 600;
    margin: 0px 10% 45px 10%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 85%;
    padding-left: -20%;
    box-sizing: border-box;
}

.function_button {
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    padding: 6px 5px 10px 5px;
    font-family: Montserrat;
}

.days {
    font-size: 19px;
    text-align: center;
    margin: 10px 0 15px 0;
}

.join_now {
    font-size: 15px;
    opacity: 0.2;
    margin-bottom: 15px;
    box-sizing: border-box;
    text-align: center;
}

.time {font-size: 28px; box-sizing: border-box; margin-left: calc(47% - 50px)}


.popup_delete {
    height: 200px;
    width: 500px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 35vw;
    box-shadow: 4px 8px 18px black;
    background: #091B30;
    display: none;
    flex-direction: column;
    border-radius: 10px;
}

:root {
    --progress: 1%;
    --right: -350px;
}

#popup_premium {
    padding: 20px;
    box-shadow: 4px 8px 18px black;
    background: #091B30;
    display: none;
    flex-direction: column;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    font-size: 16.5px;
    position: absolute;
    top: 50px;
    right: var(--right);
    z-index: 11;
    border-left: 5px solid red;
}

#popup_premium:after {
    content: "";
    display: block;
    width: var(--progress);
    padding-top: 30px;
    margin-left: -19px;
    border-bottom: 1px solid white;
}

#popup_premium a {color: green; font-weight: bold !important;}


.popup_delete div {font-size: 26px; margin-top: 20px;}

#delete_buttons_container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#delete_buttons_container button {
     height: 30px;
     width: 50px;
     border: none;
     border-radius: 3px;
     background-color: #2B8FD8;
}

#button_yes {background-color: #A40606;}

#insert {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -300px 100px 0 50px;
    padding-right: 50px;
    flex-wrap: wrap;}

@media(max-width: 1300px) {
    #insert {justify-content: center;}
}

@media(min-width: 3500px) {
    #insert {justify-content: center;}
}

#popup_share {
    width: 600px;
    height: 250px;
    background-color: #091B30;
    padding-top: 30px;
    position: absolute;
    top: 150px;
    left: calc(50vw - 250px);
    border-radius: 5px;
    flex-direction: column;
}

#popup_share p {
    font-size: 20px;
    color: white;
    margin: 30px 0 70px 40px;
}

#share_link {
    margin-left: 60px !important;
    overflow: visible;
    width: 350px;
    font: 500 18px Roboto;
    background-color: #142539;
    height: 50px;
    display: inline;
    padding-left: 5px;
    border: none;
}

#click_to_copy {
    background-color: #2B8FD8;
    font: 500 14px Montserrat;
    width: 120px;
    height: 50px;
    border: none;
    display: inline;
    margin-left: -3px;
    margin-bottom: 15px;
}

#page {display: flex; flex-direction: column;}

#content {display: flex; justify-content: space-between;}

#box {
    margin: 20px auto 0 0;
    display: flex;
    flex-direction: column;
    border-radius: 100px;
    width: 150px;
    height: 150px
}

#dates_container {display: flex; justify-content: space-between;}

#error {
    font: 500 14px Roboto;
    color: red;
    opacity: 0.7;
    margin: 5px 0 0 65px
}


.tutorial {
    z-index: 7;
    width: 350px;
    display: none;
    height: 200px;
    border-radius: 10px;
    background: #091B30;
    position: absolute;
    color: white;
    font: 500 18px Montserrat;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 22px;
    box-shadow: 6px 16px 18px black;
}

.tutorial p {
    color: white;
    font: 500 18px Montserrat;
    line-height: 22px;}

.ok {
    background: #2B8FD8;
    border: none;
    width: 100px;
    height: 60px;;
    border-radius: 12px;
    margin-top: 30px;
    font: 500 16px Montserrat
}

#spotlight {
    background: white;
    opacity: 0.1;
    border-radius: 200px;
    position: absolute;
    z-index: 15;
    margin-right: 50px !important;
    pointer-events:none}

#tutorial-1, #check_popup, #tutorial0, #popups_not_enabled {top: 30vh; left: 40vw;}

#popups_not_enabled {height: 250px}

#tutorial1 {top: 47vh; left: 5vw;}

#tutorial2 {top: 200px; right: 15vw;}

#tutorial3 {top: 250px; right: 58vw;}

#tutorial4 {top: 160px; right: 63vw;}

#tutorial5 {top: 250px; right: 63vw;}

#tutorial6 {top: 310px; right: 63vw}

#tutorial7 {top: 370px; right: 63vw}

#tutorial8 {top: 430px; right: 63vw}

#tutorial9 {top: 430px; left: 74vw}

#blur {
    width: 100%;
    z-index: -3;
    background: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0
}

#links_menu {border-radius: 50px; padding: 5px 30px 20px 0; margin: 15px -30px 0 0; }
