.repeats {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-top: 50px;
    float: left;
    margin-right: 10px;
}

.repeats_text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    top: 50px;
    height: 30px;
    position: relative;
}

.select {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    background-color: #091B30;
    margin-top: 50px;
    margin-right: 20px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
    color: white;
    appearance:none;
}

.select::-ms-expand {
    display: none;
}

.select:after {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
    color: white;
}

.selected {
    background-color: #2B8FD8;
}

.deselected {
    background-color: #142539;
}

.day_select {
    float: left;
    border-radius: 100px;
    height: 46px;
    width: 46px;
    border: 0px solid;
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    margin-left: 8px;
}

.create_meeting {
    width: 150px;
    height: 56px;
    background-color: #2B8FD8;
    border-radius: 84px;
    padding: 16px 36px 16px 33px;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    align-items: center;
    border: 0px solid;
    color: white;
    margin-top: 35px;
    float: right;
}

.x {
    background-color: red;
    color: black;
    border: 0px solid;
}

.function_button {
    height: 20px;
    display: inline;
    border: 0px solid;
    border-radius: 5px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.alert {
    background-color: #A40606;
    color: white;
    font-weight: 400;
    font-size: 16px;
    font-family: Montserrat;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
}

.buttons_container {
    float: right;
    right: 3%;
    color: white;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    position: relative;
    bottom: 45px;
    text-align: center;
}

.add_field {
    border-radius: 100px;
    border: 1px solid #2B8FD8;
    height: 21px;
    width: 21px;
    background-color: #091B30;
    display: inline-block;
    margin-left: 10px;
}

.date_input {
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #091B30;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    display: inline-block;
    position: relative;
    margin-top: 20px;
    height: 30px;
}

#dates {
    height: auto;
    border-radius: 4px;
    margin-top: -100px;
    width: 125%;
    margin-left: -16%;
    background-color: #091B30;
    padding: 15px;
}

.popup_schedule {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
}

.meeting_title {
    border-bottom: 2px solid white;
    background-color: #091B30;
    font-family: Montserrat;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
    padding-bottom: 5px;
    color: white;
    float: left;
    animation: grow;
    animation-fill-mode: forwards;
    animation-duration: 0.1s;
}

@keyframes grow {
    from {width: 10px;}
    to {width: 350px;}
}

.meeting_title::placeholder {
    font-size: 14px;
    opacity: 0.42;
}

.popup {
    background-color: #091B30;
    border-radius: 4px;
    padding: 40px 64px;
    color: white;
    height: 500px;
    width: 400px;
    text-align: center;
    top: 100px;
    left: 500px;
    position: absolute;
}

.plus_button {
    align: center;
    top: 60%;
    position: absolute;
    margin-left: 27vw;
}

.plus_button:hover {
    cursor: pointer;
}

.click_the_plus {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    color: white;
}

.link_event {
    background-color: #142539;
    border-radius: 1px;
    width: 75vw;
    padding: 25px 30px 28px;
    margin-top: 20px;
    margin-left: 10vw;
    height: 40px;
}

.time {
    font-family: Montserrat;
    font-size: 28px;
    display: inline;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-align: left;
    color: white;
    width: 150px;
    float: left;
}

.link_event_title {
    font-family: Montserrat;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-align: center;
    width: 500px;
    position: relative;
    right: 240px;
    top: 10px;
}

.name_container {
    display: inline;
    left: 12vw;
    bottom: 5px;
    position: relative;
    box-shadow: 4px 8px 18px black;
}

.join_now {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-align: left;
    color: white;
    opacity: 0.2;
    width: 170px;
}

.days {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: center;
    color: white;
    display: inline;
    bottom: 50px;
    left: 42%;
    float: left;
    width: 270px;
    position: relative;
}

.day {
    font-size: 30px;
    color: #F5FBEF;
    padding-bottom: 10px;
}
