svg {
    right: 1vw;
}

header a {
    display: block !important;
}

#header-links {display: flex; width: 100%; background: none;}

#header-links div {margin-top: 30px;}

#back {margin: 30px auto 30px 30px;}

#logo {height: 300px; width: 300px;}

#signup_title {font: 500 45px Montserrat; margin: 20px 0 0 50px;}

#signup_text {
    font: 500 22px Montserrat;
    opacity: 0.7;
    margin: 10px 0 0 60px;
}

#left_content {
    margin: 0 auto 0 8vw;
}

#right_content {
    display: flex;
    justify-content: center;
    width: 52vw;
}

#right_container {
    display: flex;
    flex-direction: column;
    width: 510px;
    height: 530px;
    box-sizing: border-box;
    padding: 40px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 15px;
}

#right_container.login {
    height: 490px;
}

#email, #password, #phone {
    color: white;
    width: 410px;
    font: 500 18px Montserrat;
    height: 40px;
    padding: 5px 30px 0 2px;
    border: none;
    margin-top: 20px;
    background: none;
    border-bottom: 2px solid white;
    border-radius: 0;
    transition: 0.25s;
    box-sizing: border-box;
}

#email::placeholder, #password::placeholder, #phone::placeholder {
    color: rgba(255, 255, 255, 0.3)
}

#email:focus, #password:focus, #phone:focus {
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

#phone {
    padding-left: 57px;
}


#password, #phone {margin-top: 20px}

#submit {
    height: 64px;
    width: 177px;
    border-radius: 7px;
    background-color: var(--lightblue);
    font: 800 19px Montserrat;
    border: none;
    margin-bottom: 15px;
    transition: 0.5s
}

#main_page {
    display: flex;
    align-items: center;
}

#welcome {font-size: 45px}

.error {
    font-size: 14px;
    opacity: 0.7;
    color: red;
    text-align: left;
    margin-top: 10px;
}

#login_body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#gsignin {margin-top: 20px;}

#reset {
    font-size: 12px;
    text-decoration: underline;
    display: none;
    margin: -12px 0 15px 3px;
}

#reset:hover {
    color: red;
    opacity: 0.8;
}

#keep_div, .keep_div {
    margin-top: -20px;
    display: flex
}

#keep_text, .keep_text {
    font: 500 15px Montserrat;
    margin-left: 5px;
}


#phone-select {
    background: none;
    color: white;
    border: none;
    position: absolute;
    bottom: 7px;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
}

#phone-select:focus {
    outline: none;
}

#phone-container {
    position: relative;
}


#or-div {
    height: 10px;
    border-bottom: 1px solid white;
    text-align: center;
    opacity: 0.4;
    margin-top: 20px;
    width: 410px;
}

#or-div span {
    font-size: 16px;
    background-color: var(--blue);
    padding: 0 4px;
}


@-moz-document url-prefix() {
    #keep_text {
        margin-top: 14px
    }
}

#country_codes {
    background: none;
    height: 40px;
    width: 80px;
    color: white;
    font: 400 15px Roboto;
    border: none;
    border-bottom: 2px solid white;
}

@media(min-width: 1600px) {
    #submit img {
        height: 1.1vw;
        width: 1.1vw;
        margin-left: 0.1vw}
    #welcome {font-size: 2.4vw}
    #submit {
        height: 5vw;
        width: 12vw;
        border-radius: 0.7vw;
        font: 800 1.4vw Montserrat;
        margin-top: 1vw;
    }
    #email::placeholder, #password::placeholder, #phone::placeholder {font-size: 1vw}
    #email, #password, #phone {
        width: 28vw;
        font: 500 1vw Montserrat;
        height: 3vw;
        padding: 16px 61px 16px 28px;
        background-color: white;
        opacity: 0.4;
        border: none;
        border-radius: 0.4vw;
        margin-top: 20px;
    }

}

@media (max-width: 1000px) {
    #left_content {display: none}
    #right_content {
        width: 94vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    #right_container {
        width: min(100%, 510px);
        margin-left: 2vw;
        margin-right: 2vw;
    }

    #gsignin {
        width: 70vw;
        max-width: 300px;
        min-width: 150px;
    }

    svg {display: none}
    #login_html, #login_body {background: var(--darkblue)}

    #email, #password, #phone, #or-div {
        width: min(410px, 100%);
    }

}

@media (max-width: 600px) {
    header div {
        display: none;
    }
}

@media (max-width: 556px) {
    #right_container {
        height: 580px;
    }

    #right_container.login {
        height: 490px;
    }
}

@media (max-width: 471px) {
    #right_container.login {
        height: 540px;
    }
}

@media (max-width: 321px) {
    #right_container {
        height: 630px;
        border: none;
    }
    #right_container.login {
        height: 540px;
    }
}