:root {
    --scrollbar: #091B30;
}

.link_event_title {
    font-size: 16px;
    font-weight: bolder;
    margin: 0 0 3px 0;
    box-sizing: border-box;
    text-align: center;
}

.link_event {
    background: #142539;
    border-radius: 3px;
    margin: 0 130px 20px 130px;
    display: flex;
    height: 100px;
    padding: 0 50px;
    width: 70vw;
    max-width: 1300px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: 0.5s;
}

.days {
    font-size: 16px;
    text-align: center;
    margin: 10px 0 15px 0;
}

.join_now {
    font-size: 14px;
    opacity: 0.2;
    box-sizing: border-box;
    text-align: center;
}

.time {font-size: 28px; box-sizing: border-box; width: 150px}

.menu {
    z-index: 2;
    padding: 16px 20px;
    font: 400 18px Montserrat;
    display: none;
    flex-direction: column;
    background: #142539;
    border-radius: 4px;
    height: 110px;
    width: 100px;
    margin: 0 0 -100px 72vw;
    position: absolute;
    box-shadow: -3px 3px 12px rgba(0, 0, 0, 0.25)
}

.menu div {margin-left: 5px; cursor: pointer}

.menu_line {width: 90%; opacity: 0.1; border-radius: 10px}

.menu_buttons {
    cursor: pointer;
    margin-left: 15px
}

.switch {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 13px;
    background: #6E767C;
    border-radius: 18px;
    margin: 0 10px;
}

.switch::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #B7C0C7;
    top: -3px;
    left: 0;
    transition: all 0.3s;
    pointer-events: all;
}

.checkbox:checked + .switch::after {left: 10px}

.checkbox:checked + .switch {background: #1A5E8F}

.checkbox:checked + .switch::after {background: #2B8FD8}

.checkbox {display: none}

.placeholder {
    height: 100px;
    width: 77vw;
    background: darkgray;
    opacity: 0.05;
    margin: 10px 0;
    border-radius: 3px;
    animation: inout 1s linear infinite;
}

@keyframes inout {
    0% {opacity: 0.05}
    60% {opacity: 0.2}
    100% {opacity: 0.05}
}

/*Hamburger Menu*/
#hamburger {cursor: pointer; margin: 25px 30px 0 auto;}

#hamburger_dropdown.expand {display: flex; margin-left: auto}

#hamburger_dropdown.expand a {display: block; margin-right: 20px}

#dropdown {display: none; flex-direction: column}

#line1, #line2, #line3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

#hamburger_dropdown {
    display: none;
    flex-direction: column;
    margin-left: auto;
    background: #142539;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    box-shadow: -3px 3px 12px rgba(0, 0, 0, 0.25)
}

.expand #line1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.expand #line2 {opacity: 0}

.expand #line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#plus {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    cursor: pointer;
    box-shadow: -3px 3px 12px rgba(255, 255, 255, 0.25);
    border-radius: 100px
}

#add_number_div, #change_number_div {
    width: min(500px, calc(100vw - 30px));
    height: min(300px, fit-content);
    padding: 10px 10px;
    background: #091B30;
    position: absolute;
    border: 5px solid white;
    border-radius: 10px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: none;
}

#add_number_div .content, #change_number_div .content {
    position: relative;
    top: -10px
}

#number, #number_change {display: inline; width: 60%; margin-bottom: 15px}

#add_number, #change_number {
    font-size: 14px;
    display: inline;
    height: 50px;
    width: 110px;
    min-width: 100px
}

#dismiss_add_number, #dismiss_change_number {
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer
}

.show-notes {
    width: 130px;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    border-radius: 3px;
    border: none;
    background: #2B8FD8;
    color: white;
    position: absolute;
    margin: 125px 0 0 30px;
    font: 400 16px Roboto;
}

#boxes {
    position: absolute;
    width: 100vw;
    display: flex;
    pointer-events: none;
    justify-content: space-between;
}

#boxes * {
    pointer-events: auto;
}

.notes::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px
}

.notes {
    font-size: 16px;
    border: 1px solid white;
    border-radius: 4px;
    height: 65%;
    width: 80%;
    background: #142539;
    margin-left: 10%;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    resize: none;
    overflow-y: scroll;
    transition: 0.1s;
    cursor: text;
}

#popup_notes {padding-bottom: 30px; box-sizing: border-box}

#notes_textarea {
    border: 2px solid white;
    display: none;
    outline: none;
}

#notes_div * {
    padding-top: 0;
    margin-top: 0;
}

.back_arrow {
    margin: 10px 0 -40px 20px;
    height: max(2vw, 35px);
    width: max(1.2vw, 26px);
    cursor: pointer;
    z-index: 2;
}
#popup_notes h2 {text-align: center; margin-top: 50px;}

#notif {
    width: 350px;
    height: 100px;
    background: #142539;
    border-left: 3px solid #14db38;
    border-radius: 3px;
    position: absolute;
    top: 30px;
    right: 20px;
    opacity: 0;
    z-index: -1;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    box-shadow: 5px 5px 8px black
}

code {
    background: #5d6066;
    padding: 1px;
    border-radius: 4px;
}

pre {
    background: #5d6066;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 6px;
    word-break: break-all;
}

.notes_buttons {
    width: 80%;
    margin: 20px 0 0 10%;
    display: flex;
    justify-content: space-evenly;
}

.notes_button {
    height: 50px;
    width: 100px;
    background: #2B8FD8;
    border: none;
    font: 400 18px Roboto;
    transition: 0.5s;
    border-radius: 4px;
}

.notes_button:hover {
    background: #3da7f5
}

.back {
    background: none;
    border: 2px solid white;
}

.notes_button.back:hover {
    background: #2B8FD8;
}

#notes_search {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #142539;
    color: white;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 150px;
    box-sizing: border-box;
    padding: 2px 4px;
}

#notes_search::placeholder {
    color: rgba(255, 255, 255, 0.7)
}

.highlight {
    position: absolute;
    left: -8%;
    top: -15px;
    height: 130px;
    width: 116%;
    pointer-events: none;
    background: rgba(43, 144, 216, 0.1);
    border-radius: 5px;
    transition: 0.5s;
}

html, body {scroll-behavior: smooth; overflow-x: visible;}

#open-tutorial {
    position: fixed;
    bottom: 20px;
    right: 10px;
    background: #2B8FD8;
    width: 60px;
    height: 60px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    font-size: 30px;
    cursor: pointer;
    box-sizing: border-box;
    padding-bottom: 2px;
    transition: 0.5s;
}

#open-tutorial:hover {
    animation: bob 1s ease-in-out infinite alternate;
}

#open-tutorial.open {
    transform: rotate(270deg);
}

#open-tutorial.open:hover {
    animation: none;
}

#tutorial {
    z-index: 3;
    position: fixed;
    bottom: 90px;
    right: 15px;
    width: min(350px, calc(100vw - 15px));
    background: #142539;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5), -3px -3px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 15px 15px 15px;
    overflow: scroll;
    opacity: 0;
    pointer-events: none;
    height: 0;
    transition: 0.4s;
}

#tutorial h1 {
    text-align: center;
}

#tutorial.open {
    height: min(600px, calc(95vh - 70px));
    opacity: 1;
    pointer-events: all;
}

.demo {
    padding: 15px 10px;
    background: rgba(0, 0, 0, 0.3);
    width: calc(100% - 20px);
    border-radius: 1px;
    display: flex;
    justify-content: center;
}

.demo.no-center {display: block;}

.show-notes.tutorial, .menu.tutorial {margin: 0; position: static;}

.plus_button.tutorial {margin: 0; padding: 0;}

#tutorial-finished {
    width: 50%;
    margin: 20px 0 20px 25%;
    border: none;
    background: #2B8FD8;
    border-radius: 3px;
    height: 40px;
    font-size: 16px;
}

#open-settings {
    margin: 125px auto 0 30px;
    width: 80px;
    height: 40px;
}

#settings {
    padding: 0 20px;
    display: none;
    width: 27vw;
    min-width: 400px;
    overflow: scroll;
}

.settings-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-name {
    max-width: 60%;
}

.settings-name p {
    margin-top: -15px;
    color: rgba(255, 255, 255, 0.5);
}


#settings h1 {
    margin: -20px 0 20px 0;
    text-align: center;
}

#settings .back_arrow {
    margin: 10px 5px;
}

.settings-change-number {
    height: 30px;
    width: 30px;
    margin: 28px 0 0 5px;
    cursor: pointer;
}

.reset-password {
    border: none;
    background: #2B8FD8;
    width: 50px;
    height: 25px;
    border-radius: 3px;
}

@keyframes bob {
    from {padding-right: 0;}
    to {padding-right: 15px;}
}

@media (max-width: 400px) {
    #tutorial {
        top: 0;
        left: 0;
        height: 100vh !important;
        width: calc(100vw - 30px);

    }
}

@media (max-width: 900px) {
    .link_event {margin: 0 0 5px 0; width: 100%; height: 150px;}
    .highlight {
        left: 0;
        top: 0;
        height: 150px;
        width: 100%;
    }
    .footer_links {
        height: 225px !important;
        width: 225px !important;
        min-width: 200px !important;
        border-radius: 15px !important;
        padding: 5px 15px 15px 15px !important;
        display: flex;
        flex-direction: column !important;
        margin-left: max(0px, calc(45% - 100px)) !important;
    }
    #blur {height: calc(100% + 250px) !important}
}

@media (max-width: 900px) {
    #hamburger {
        display: inline-block;
    }
    #dropdown {
        display: flex !important
    }
    #hamburger a {
        display: block;
    }
    #hamburger_dropdown {
        display: inline-block;
        z-index: 9;
    }
    #header_links a {display: none;}
    .plus_button {display: flex}
    #home {display: inline-block !important}

}

@media (max-width: 730px) {
    #plus {display: flex !important}
    .plus_button {display: none}
    #popup {width: 100vw; max-width: 520px}
    #popup_delete {width: 100vw; left: max(0px, calc(90% - 520px)); max-width: 550px}
    #popup_share {width: min(600px, 100vw); left: max(0px, calc(90% - 520px)); height: 275px}
    #click_to_copy {display: inline-block; margin-left: 40%;}
    #share_link {margin-left: 20%}
    #open-tutorial {
        z-index: 5;
        right: unset;
        left: 40px;
    }
    #tutorial {
        right: unset;
        left: 15px;
    }
}

@media (max-width: 500px) {
    #popup, #popup_notes, #popup_delete, #popup_share {left: 0 !important; top: 0 !important; transform: none}
}

