.link_event_title {
    font-size: 16px;
    font-weight: bolder;
    margin: 0 0 3px 0;
    box-sizing: border-box;
    text-align: center;
}

.link_event {
    background: #142539;
    border-radius: 3px;
    margin: 0 130px 20px 130px;
    display: flex;
    height: 100px;
    padding: 0 50px;
    width: 70vw;
    max-width: 1300px;
    justify-content: space-between;
    align-items: center;
}

.days {
    font-size: 16px;
    text-align: center;
    margin: 10px 0 15px 0;
}

.join_now {
    font-size: 14px;
    opacity: 0.2;
    box-sizing: border-box;
    text-align: center;
}

.time {font-size: 28px; box-sizing: border-box; width: 150px}

.menu {
    z-index: 2;
    padding: 16px 20px;
    font: 400 18px Montserrat;
    display: none;
    flex-direction: column;
    background: #142539;
    border-radius: 4px;
    height: 110px;
    width: 100px;
    margin: 0 0 -100px 72vw;
    position: absolute;
    box-shadow: -3px 3px 12px rgba(0, 0, 0, 0.25)
}

.menu div {margin-left: 5px; cursor: pointer}

.menu_line {width: 90%; opacity: 0.1; border-radius: 10px}

.menu_buttons {
    cursor: pointer;
    margin-left: 15px
}

.switch {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 13px;
    background: #6E767C;
    border-radius: 18px;
}

.switch::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #B7C0C7;
    top: -3px;
    left: 0;
    transition: all 0.3s;
    pointer-events: all;
}

.checkbox:checked + .switch::after {left: 10px}

.checkbox:checked + .switch {background: #1A5E8F}

.checkbox:checked + .switch::after {background: #2B8FD8}

.checkbox {display: none}

.placeholder {
    height: 100px;
    width: 77vw;
    background: darkgray;
    opacity: 0.05;
    margin: 10px 0;
    border-radius: 3px;
    animation: inout 1s linear infinite;
}

@keyframes inout {
    0% {opacity: 0.05}
    60% {opacity: 0.2}
    100% {opacity: 0.05}
}


@media (max-width: 900px) {
    .link_event {margin: 0 0 20px 0; width: 100%}
}
