/*Hamburger Menu*/
#hamburger {cursor: pointer; display: none; margin: 0 30px 0 auto;}

#hamburger_dropdown.expand {display: flex; margin-left: auto}

#hamburger_dropdown.expand a {display: block; margin-left: auto}

#dropdown {display: none; flex-direction: column}

#line1, #line2, #line3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

#hamburger_dropdown {
    display: none;
    height: 170px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
}

.expand #line1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.expand #line2 {opacity: 0}

.expand #line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/*Header*/
header {
    display: flex;
    width: calc(100% - 25px);
    padding: 30px 5px 30px 30px;
    height: 60px;
    margin: 10px;
}

header a {margin: 15px 40px 0 40px; z-index: 9; font: 600 18px Montserrat}

header img {margin: 0 auto 0 20px}


/*Main Page*/
#desc {
    font: 800 45px Montserrat;
    width: 60%;
    text-align: center;
    color: white;
    margin: 50px 0 0 0;
}

.get_started {
    border-radius: 84px;
    font: 600 20px Montserrat;
    height: 60px;
    background-color: #2B8FD8;
    border: none;
    margin-top: 35px;
    width: 150px
}

#refer {
    font: 800 30px Montserrat;
    color: white;
    margin: 30px 0 0 0;
    width: 40%;
    text-align: center;
}

#share_link {
    overflow: visible;
    width: 300px;
    font: 500 18px Roboto;
    background-color: #142539;
    height: 50px;
    padding-left: 5px;
    border: none;
    color: white;
}

#click_to_copy {
    background-color: #2B8FD8;
    font: 500 14px Montserrat;
    width: 120px;
    height: 50px;
    margin-top: 1px;
    margin-bottom: 20px;
    border: none;
    z-index: 3;
}

hr {
    width: 54vw;
    opacity: 0.4;
}

/*Media Queries*/
@media (max-width: 730px) {
    header a {
        display: none;
    }
    #hamburger {
        display: inline-block;
    }
    #motto, #description {margin-left: -30px;}
    #dropdown {
        display: flex;
    }
    #hamburger a {
        display: block;
    }
    #hamburger_dropdown {
        display: inline-block;
        z-index: 9;
    }
    .row {flex-direction: column}
}


/*Other*/
#main_html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #091B30;
}

#main_body {
    margin: 0 30px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left {margin-right: auto}

.right {margin-left: auto}