html {
    background: var(--darkblue)
}

#pick-a-plan {
    font: 400 30px Montserrat, sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 40px;
}

#plans {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.plan {
    background: var(--darkblue);
    text-align: center;
    width: 280px;
    height: 300px;
    border-radius: 5px;
    margin: 20px 20px;
    padding: 0 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4), -2px -3px 10px rgba(255, 255, 255, 0.1);
}

.price a {
    color: var(--lightblue);
    display: inline;
}

.plan .name {
    font-size: 22px;
}

.action {
    padding: 20px;
    cursor: pointer;
    font: 400 18px Montserrat, sans-serif;
    margin-left: 8%;
}

header a {
    margin: 15px 40px 10px 40px;
}


@media (max-width: 900px) {
    #hamburger_dropdown {
        display: none;
        height: fit-content;
        width: 150px;
    }

    #hamburger_dropdown a {
        display: block;
        margin-left: unset;
        margin-right: unset;
    }
}