html {
    background: var(--darkblue);
    overflow-x: hidden;
}

#pick-a-plan {
    font: 400 30px Montserrat, sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 40px;
}

#plans {
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    margin: 40px 0 0 15vw;
    flex-wrap: wrap;

}

.plan {
    background: var(--blue);
    text-align: center;
    width: 280px;
    height: 300px;
    border-radius: 5px;
    margin: 20px 20px;
    padding: 10px 10px 5px 10px;
    border: 3px solid white;
}

.price a {
    color: var(--lightblue);
    display: inline;
}

.plan .name {
    font-size: 22px;
}

.action {
    padding: 20px;
    cursor: pointer;
    font: 400 18px Montserrat, sans-serif;
    margin-left: 15px;
}


footer {
    background: var(--blue);
    margin-top: 200px;
}


@media (max-width: 900px) {
    #hamburger_dropdown {
        display: none;
        height: fit-content;
        width: 150px;
    }

    #hamburger_dropdown a {
        display: block;
        margin-left: unset;
        margin-right: unset;
    }
}