body {padding-right: 20px; overflow-x: hidden;}

#page {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    padding: 0 50px;
}

#page p {
    font-size: 18px;
    line-height: 26px;
    max-width: 50em;
    align-self: center;
    margin-bottom: 40px
}

h1 {margin-top: 40px; font-size: 40px}
h2 {margin-top: -10px}