.header {
    height: 8vh;
    min-height: 50px;
    /*box-shadow: 4px 8px 18px black;*/
    margin-bottom: 50px;
    position: relative;
    top: 1px;
    width: 98vw;

}

.header_login {
    height: 8vh;
    min-height: 50px;
    margin-bottom: 50px;
    position: absolute;
    top: 1px;
    width: 98vw;
}


.button {
    position: relative;
    text-align: center;
    vertical-align: center;
    float: right;
    border-radius: 70px;
    margin-top: 10px;
    background-color: #142539;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    color: white;
    height: 50px;
    width: 110px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    display: inline-block;
    animation: appear;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.login {
    border: 2px solid white;
    margin-right: 30px;
}

.login:hover {
    background-color: #2B8FD8;

}

.signup {
    border: none;
}

.logo {
    float: left;
    height: 50px;
    width: 50px;
    margin-top: 22px;
    margin-left: 10px;
}

@keyframes move_buttons {
    from {
        opacity: 0;
    }
    to {
        opacity; 1;
    }
}

html {
    background-color: #142539;
    overflow-x: hidden;
}

.login_link {
    color: #4B5358;
    text-decoration: none;
}

.login_link:hover {
    color: #161316;
}

.login_box {
    padding-top: 4vh;
    background-color: #FFC100;
    height: 65vh;
    /*box-shadow: 15px 15px #646464;*/
    width: 30vw;
    min-width: 264px;
    border-radius: 10px;
    margin: auto;
    align-items: center;
    left: 200px;
    animation: pop_out;
    animation-duration: 1s;
    animation-direction: forwards;
    animation-fill-mode: forwards;
}

.login_page {
    padding-top: 15vh;
}

.username {
    box-sizing: border-box;
    border-radius: 4px;
    border: 0px solid;
    padding-top: 23px;
    width: 50%;
    height: 7%;
    font-size: 100%
}

.password {
    box-sizing: border-box;
    border-radius: 4px;
    width: 50%;
    padding-top: 23px;
    border: 0px solid;
    height: 7%;
    margin-bottom: 7vh;
    font-size: 100%

}

.submit {
    margin-top: 2vh;
    background-color: #BCF4F5;
    border: 0px solid;
    width: 52%;
    height: 45px;
    font-size: 19.4px;
    transition: all 0.5s;
    cursor: pointer;
    opacity: 0;
    animation: appear;
    animation-duration: 1.5s;
    animation-direction: forwards;
    animation-fill-mode: forwards;
    border-radius: 15px;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.login_text {
    text-align: center;
    font-size: 29px;
    color: #161316;
}

.login_container {
    align-items: center;
    text-align: center;
    box-align: center;
}

.username_text {
    font-size: 22px;
    padding-top: 3vh;
}


@keyframes move_slogan {
    from {
        padding-top: 100vh;
        opacity: 0.05;
    }
    to {
        padding-top: 0;
        top: -5vh;
        opacity: 1;
    }
}

@keyframes move_text {
    from {
        font-size: 7vh;
    }
    to {
        font-size: 20vh; left:0px; top:0px; color: #9AD2CB;
    }
}


@keyframes pop_out {
    from {
        box-shadow: none;
        margin-top: 4vh;
        left: 200px;
    }
    to {
        box-shadow: 15px 15px #646464;
        margin-top: 3vh;
        left: 0px;

    }
}

.column {
    float: left;
    background-color: #091b30;
    width: 17vw;
    margin: 3vw;
    text-align: center;
    border-radius: 5px;
    animation: expand;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    padding-bottom: 20px;
    align-items: right;
    height: 20vh;
    padding-top: 20px;
}

@keyframes expand {
    from {
        border-bottom: solid #4B99E0 0;
    }
    to {
        border-bottom: solid #26376e 50px;
    }
}

.link_event {
    background-color: #142539;
    border-radius: 1px;
    width: 75vw;
    padding: 25px 30px 28px;
    margin-top: 20px;
    margin-left: 10vw;
    height: 40px;

}
.time {
    font-family: Montserrat;
    font-size: 28px;
    display: inline;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-align: left;
    color: white;
    width: 150px;
}

.link_event_title {
    font-family: Montserrat;
    font-size: 16px;
    display: block;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
    width: 300px;
    height: 25px;
}

.name_container {
    display: inline;
    left: 18vw;
    bottom: 35px;
    position: relative;
    box-shadow: 4px 8px 18px black;
}

.switch {
    height: 20px;
    color: white;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.01em;
    display: inline;
    border: 0px solid;
    border-radius: 5px;
    position: relative;
    bottom: 70px;
    text-align: center;
    float: right;
    right: 9vw;
}

.join_now {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-align: left;
    color: white;
    opacity: 0.2;
    width: 170px;

}

.days {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
    color: white;
    display: inline;
    bottom: 70px;
    left: 45vw;
    float: left;
    position: relative;
}

.dot_menu {
    float: right;
    bottom: 65px;
    width: 5px;
    position: relative;
    height: 15px;
    left: 70px;
}

.day {
    font-size: 30px;
    color: #F5FBEF;
    padding-bottom: 10px;
}

.circle {
  border-radius: 100px;
  behavior: url(PIE.htc);
  width: 50px;
  height: 50px;
  background: #4B99E0;
  color: white;
  border: none;
  text-align: center;
  top: 75px;
  margin-left: 121px;
  position: relative;
  font: 40px Arial, sans-serif;
  animation: appear;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

body {
    overflow: scroll;
}

.text_container {
    font-style: normal;
    width: 40vw;
    margin-left: 50px;
    margin-top: 70px;
    color: white;
    text-align: left;
    letter-spacing: 0.01em;

}

.intro {
    font-size: 44px;
    line-height: 57px;

}

.explanation_title {
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: Montserrat;
    display: inline;
    position: relative;
}

.info {
    margin-top: 300px;
}

.explanation {
    font-size: 30px;
    color: white;
    text-align: center;
    width: 40vw;
    margin-top: 30px;
    font-family: Roboto;
    line-height: 1.4;
    opacity: 0.7;
    display: inline;
}

.description {
    margin-top: 10px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 31px;
}

.get_started {
    border-radius: 84px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    padding: 20px, 36px, 20px, 40px;
    width: 321.21px;
    height: 67px;
    background-color: #2B8FD8;
    border: none;
    margin-top: 35px;
    color: white;
}

.footer_text {
    left: 10px;
    display: inline;
    position: relative;
}

.footer_line {
    margin-bottom: 10px;
}

.footer {
    opacity: 0.5;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    display: inline-block;
    bottom: 15px;
    margin-top: 50vh;
    float: left;
    margin-right: 100px;
    margin-left: 100px;
    position: relative;
}

.footer_image {
    height: 15px;
    width: 15px;
    display: inline;
    position: relative;
    margin-left: 25px;

}

.linkjoin {
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.01em;
    float: left;
    color: white;
    text-align: left;
    margin-top: 30px;
    position: relative;
    margin-left: 10px;
}

.img_container {
    height: 1261.5997314453125px;
    width: 1047.2327880859375px;
    left: 800px;
    border-radius: 0px;
    float: right;
    position: absolute;
    vertical-align: center;
    top: 50px;
}

.linkjoin_signup {
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.01em;
    float: left;
    color: white;
    position: absolute;
    left: 165px;

}

.slogan_login {
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.01em;
    float: left;
    color: white;
    position: absolute;
    left: 157px;
    opacity: 0.7;
    top: 450px;
}

.create_account {
    color: white;
}

.email {
    width: 440px;
    font-size: 15px;
    font-family: Montserrat;
    height: 59px;
    padding: 16px 61px 16px 28px;
    background-color: white;
    opacity: 0.2;
    border: none;
    border-radius: 7px;
    float: right;
    margin-top: 15px;
    position: relative;
    margin-right: 27px;
}

.form_box {
    font-family: Montserrat;
    font-size: 41px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0.01em;
    text-align: center;
    left: 8px;
    width: 500px;
    top: 0px;
    letter: 1%;
    float: right;
    position: relative;
    margin-right: 150px;
    margin-top: 50px;
}

.icon {
    float: right;
    width: 17px;
    height: 15px;
    position: absolute;
    left: 40px;
}

.password {
    width: 440px;
    font-size: 15px;
    font-family: Montserrat;
    height: 59px;
    padding: 16px 61px 16px 28px;
    background-color: white;
    opacity: 0.2;
    border: none;
    border-radius: 7px;
    float: right;
    margin-top: 15px;
    position: relative;
    margin-right: 27px;
    type: password;
}

.submit {
    height: 64px;
    width: 177px;
    border-radius: 84px;
    padding: 20px, 36px, 20px, 36px;
    background-color: #2B8FD8;
    color: white;
    float: left;
    left: 20px;
    position: relative;
}

.already {
    float: right;
    color: white;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    margin-top: 27px;
    margin-right: 15px;
}

.header_links {
    background-color: #142539;
    height: 15vh;
    width: 100%;
    position: relative;

}

.plus_button {
    align: center;
    top: 65%;
    position: absolute;
    margin-left: 27vw;
}

.click_the_plus {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    color: white;

}

.footer_links {
    height: 60px;
    width: 960px;
    margin-left: 16vw;
    margin-top: 50px;
    margin-bottom: 15px;
    position: relative;
    border-radius: 72px;
    padding: 22px, 56px, 22px, 56px;
    background-color: 142539;

}

.footer_link {
    top: 10px;
    display: inline;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    opacity: 1;
}

.links_footer_image {
    height: 15px;
    width: 15px;
    display: inline;
    margin-right: 10px;
    margin-left: 15px;
    margin-top: 20px;
}

.popup {
    background-color: #091B30;
    border-radius: 4px;
    padding: 40px 64px;
    color: white;
    width: 400px;
    text-align: center;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 500px;

}

.hidden {
    visibility: hidden;
}

.popup_schedule {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
}

.meeting_title {
    border-bottom: 2px solid white;
    background-color: #091B30;
    font-family: Montserrat;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
    padding-bottom: 5px;
    color: white;
    float: left;
    animation: grow;
    animation-fill-mode: forwards;
    animation-duration: 0.1s;
}

@keyframes grow {
    from {width: 10px;}

    to {width: 350px;}
}

.meeting_title::placeholder {
    font-size: 14px;
    opacity: 0.42;
}

.blurred {
    opacity: 0.2;
}

.repeats {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-top: 50px;
    float: left;
    margin-right: 10px;
}

.repeats_text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    top: 50px;
    height: 30px;
    position: relative;
}

.select {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    background-color: #091B30;
    margin-top: 50px;
    margin-right: 20px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
    color: white;
    appearance:none;
}

.select::-ms-expand {
    display: none;
}

.select:after {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
    color: white;
}

.selected {
    background-color: #2B8FD8;
}

.deselected {
    background-color: #142539;
}

.day_select {
    float: left;
    border-radius: 100px;
    height: 46px;
    width: 46px;
    border: 0px solid;
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    margin-left: 8px;
}

.buttons {
    margin-top: 30px;
    margin-right: 20px;
}

.create_meeting {
    width: 150px;
    height: 56px;
    background-color: #2B8FD8;
    border-radius: 84px;
    padding: 16px 36px 16px 33px;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    align-items: center;
    border: 0px solid;
    color: white;
    margin-top: 35px;
    float: right;

}

.error {
    font-size: 12px;
    opacity: 0.7;
    color: red;
    position: absolute;
    top: 30px;
    left: 180px;
}

.where_it_happens {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: white;
    font-family: Montserrat;
    text-align: center;
    width: 700px;
    left: 400px;
    bottom: 75px;
    position: relative;
}

.enable {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: white;
    opacity: 0.7;
    font-family: Montserrat;
    text-align: center;
    width: 600px;
    left: 450px;
    bottom: 60px;
    position: relative;
}

.this_page {
    border-radius: 2px;
    background-color: red;
    opacity: 0.5;
    color: white;

}

.x {
    background-color: red;
    color: black;
    border: 0px solid;
}

.edit {
    height: 20px;
    color: #0A2E36;
    background-color: #27FB6B;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.01em;
    display: inline;
    border: 0px solid;
    border-radius: 5px;
    position: relative;
    bottom: 70px;
    text-align: center;
    float: right;

    right: 12vw;
}

.delete {
    height: 20px;
    color: white;
    background-color: #A40606;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.01em;
    display: inline;
    border: 0px solid;
    border-radius: 5px;
    position: relative;
    bottom: 70px;
    text-align: center;
    float: right;
    left: 4vw;
}

.same_name {
    color: red;
    font-size: 12px;
    font-family: Montserrat;
    text-align: center;
}

.alert {
    background-color: #A40606;
    color: white;
    font-weight: 400;
    font-size: 16px;
    font-family: Montserrat;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
}

button:focus{
    outline: none
}

input:focus {
    outline: none;
}