/*Page Sections*/
header {
    display: flex;
    width: 100%;
    padding: 30px;
    height: 1px;

}

header a {margin: 15px 40px 0 40px; z-index: 9; font: 600 18px Montserrat}

header img {margin: 0 auto 0 20px}

#page {display: flex; flex-direction: row; margin-bottom: max(15vh, 150px);}

#left_content {
    margin: 100px auto 0 max(10vw, 100px);
    display: flex;
    flex-direction: column;
}

#right_content {
    margin: 0 40px 0 auto;
    display: flex;
    flex-direction: column;
}

footer {
    opacity: 0.7;
    height: 100px;
    margin: 50px 20px 0 0;
}


/*Hamburger Menu*/
#hamburger {cursor: pointer; display: none; margin: 0 30px 0 auto;}

#hamburger_dropdown.expand {display: flex; margin-left: auto}

#hamburger_dropdown.expand a {display: block; margin-left: auto}

#dropdown {display: none; flex-direction: column}

#line1, #line2, #line3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

#hamburger_dropdown {
    display: none;
    height: 230px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
}

.expand #line1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.expand #line2 {opacity: 0}

.expand #line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*Left Content*/
.get_started {
    border-radius: 84px;
    font: 600 20px Montserrat;
    height: 75px;
    background-color: #2B8FD8;
    border: none;
    margin-top: 35px;
}

#motto {font-weight: 100; font-size: 46px; max-width: 500px; margin-bottom: 10px}

#description {font: 400 20px Roboto; margin: 0; max-width: 450px; line-height: 30px}

#learn_more {background-color: #142539;}


/*Right Content*/
#right_content img {
    height: 92vh;
    width: 37vw;
}


/*Info*/
.row {display: flex; margin-top: 70px;}

.info_box {display: flex; flex-direction: column; margin: 75px; text-align: center}

.title {font: 600 43px Montserrat; margin-bottom: 20px;}

.desc {font: 400 24px Roboto; opacity: 0.6;}

.desc a {color: #2B8FD8; font: 400 24px Roboto;}


/*Q and A*/
#what {
    width: 84vw;
    margin-left: 8vw;
    min-height: 500px;
    background: none;
    display: flex;
    flex-direction: column;
}

.pair {
    width: 85vw;
    height: 550px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.pair img {height: 600px; width: 600px;}

.info {display: flex; flex-direction: column; justify-content: center;}

.main_question {font-size: 45px; max-width: 550px; margin: 100px 0 15px 0;}

.main_answer {font-size: 22px; max-width: 550px; opacity: 0.9; line-height: 32px;}


/*Footer*/
.line {display: flex; justify-content: space-between;}

.footer_image {height: 15px; width: 15px;}

.footer_link {margin: 0 20px 20px 0}

.footer_text {text-decoration: none; font-size: 14px; cursor: pointer;}

.footer_text:hover {color: #0AFFED}


/*Media Queries*/
@media (max-width: 1230px) {
    .pair img {height: 50vw; width: 50vw}
}
@media (max-width: 890px) {
    .pair img {display: none;}
}
@media (max-width: 450px) {
    .get_started {width: 200px}
}

@media (min-width: 1700px) {
    #motto {font-size: 3vw; max-width: 40vw; margin: 10vh 0 0 5vw;}
    #description {font-size: 1.5vw; max-width: 35vw; margin: 1.5vh 0 0 5vw; line-height: 2.3vw}
    .get_started {width: 28vw !important; height: 6vw; font-size: 1.8vw; margin: 2.5vh 0 0 5vw; border-radius: 5vw; }
    .get_started img {height: 1.8vw; width: 1.8vw; margin-left: 1vw;}
    #logo {width: 15vw; height: 3.5vw; margin-top: 0.5vw;}
    header a {font-size: 1.2vw;}
    .login_button {height: 3vw !important; width: 7vw !important; padding-top: 0.6vw !important;}
    .login_button img {height: 0.9vw; width: 0.6vw;}
    #main_html {margin-right: 3vw}
    .footer_image {height: 1vw !important; width: 1vw !important; margin-right: 0.3vw !important}
    .footer_text {font-size: 1vw;}
}

@media (max-width: 870px) {
    header a {
        display: none;
    }
    #hamburger {
        display: inline-block;
    }
    #motto, #description {margin-left: -30px;}
    #dropdown {
        display: flex;
    }
    #hamburger a {
        display: block;
    }
    #hamburger_dropdown {
        display: inline-block;
        z-index: 9;
    }
    .row {flex-direction: column}
    svg {display: none}
    #main_html {background: #091B30;}
}

@media(max-width: 180vh), (max-height: 36vw) {
    #calendar_guy {display: none;}
}


/*FAQ*/
#info {width: 100vw; background: none; min-height: 500px; padding-top: 75px; margin-top: 200px;}
#faq {
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin-left: 8vw;
}

.question, .answer {
    width: 100%;
    min-height: 60px;
    background-color: #142539;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
}

.question p, .answer p {font: 600 27px Montserrat; margin-left: 30px;}

.answer {
    font: 600 18px Montserrat;
    background-color: #043565;
    padding: 20px 2.5% 20px 2.5%;
    min-height: 40px !important;
    text-align: left;
    width: 95%;
    line-height: 30px;
    }


.plus {margin: 0 20px 0 auto; font-size: 50px; padding-top: 10px;}

.minus {margin: 0 20px 0 auto; font-size: 50px; padding-top: 10px;}


/*Other*/
#main_html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#main_body {
    margin: 0 30px 0 0;
    display: flex;
    flex-direction: column;
}

.left {margin-right: auto}

.right {margin-left: auto}