<html>
    <head>
        <script async src="https://arc.io/widget.min.js#n1acL2q5"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-MR5B009GBF"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-MR5B009GBF');
        </script>
        <link href="{{ url_for('static', filename='website.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='globals.css') }}" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <title>404 Not Found</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}" class="logo">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/logo.svg') }}" class="logo">
        <meta name=”robots” content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body style="background-color: #091B30; margin: 0; padding-right: 15px; overflow: hidden;">
        <header>
            <img id="logo" src="{{ url_for('static', filename='images/logo-text.svg') }}" height="50" alt="LinkJoin Logo" onclick="window.open('https://linkjoin.xyz')" style="cursor: pointer;">
            <a href="/links" class="underline">Links</a>
            <a href="/login" class="underline">Log In</a>
            <a href="/signup" class="login_button" style="margin-top: 5px">Sign Up <img src="{{ url_for('static', filename='images/right-angle.svg') }}" height="12px" width="8px" alt="Right facing arrow"></a>
            <div id="dropdown">
                <div id="hamburger">
                    <div id="line1"></div>
                    <div id="line2"></div>
                    <div id="line3"></div>
                </div>
                <div id="hamburger_dropdown">
                    <a href="/signup" class="login_button" style="margin-top: 5px">Sign Up <img src="{{ url_for('static', filename='images/right-angle.svg') }}" height="12px" width="8px" alt="Right facing arrow"></a>
                    <a href="/login" class="underline">Log In</a>
                    <a href="/links" class="underline">Links</a>
                </div>
            </div>
        </header>
        <img src="{{ url_for('static', filename='images/404.svg') }}" style="height: max(50vw, 400px); width: max(50vw, 400px); margin: max(-70px, -8vh) 0 0 28vw">
    </body>
</html>