<html>
    <head>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
    </head>
    <body onload="loadLinks()" id="body">
    </body>
    <script>
        async function loadLinks() {
            let days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday", "Every Day"]
            let username = "{{ username }}"
            //let day_translations = {"Monday": "Mon", "Tuesday": "Tue", "Wednesday": "Wed", "Thursday", "Thu", "Friday", "Fri", "Saturday", "Sat", "Sunday": "Sun"}
            for (const day of days) {
                let body = document.getElementById("body")
                let column = document.createElement('div')
                let button = document.createElement('button')
                button.classList.add("circle")
                button.innerText = "+"
                column.classList.add("column")
                column.id = day
                body.appendChild(column)
                let div_day = document.createElement('div')
                div_day.classList.add("day")
                div_day.innerText = day
                column.appendChild(div_day)
                column.appendChild(button)
                let start_json = await fetch(`https://linkjoin.xyz/db?username=${username}`)
                let links = await start_json.json()
                for (const link of links) {
                    if (day == day_translations[link['day']]) {
                        let link_event = document.createElement('button')
                        link_event.classList.add("link_event_hidden")
                        link_event.id = link['name']
                        link_event.setAttribute('onClick', `expand('${link['name'].toString()}', '${link['link'].toString()}', '${link['time'].toString()}')`)
                        link_event.innerText = link['name']
                        column.appendChild(link_event)
                    }
                }
            }
        }

        function expand(name, link, time) {
            let element = document.getElementById(name)
            if (element.classList.contains("link_event")) {
                element.classList.add("link_event_hidden")
                element.classList.remove("link_event")
                element.innerText = name
                console.log("invisible")
            }
            else {
                element.classList.add("link_event")
                element.classList.remove("link_event_hidden")
                let time_div = document.createElement('div')
                let link_div = document.createElement('div')
                time_div.name = "time"
                time_div.innerText = time
                link_div.name = "link"
                link_div.innerText = link
                element.append(time_div, link_div)
                console.log("visible")
            }
        }
    </script>
</html>