<html>
    <head>
        <link href="{{ url_for('static', filename='globals.css') }}" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" class="logo">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/logo.png') }}" class="logo">
    </head>
    <body>
        <div class="header_links" id="header">
            <a href="/links"><div class="button" style="margin-top: 32px;">Links</div></a>
            <a href="/login"><div class="button" style="margin-top: 32px;">Log In</div></a>
            <a href="/signup"><div class="button" style="margin-top: 32px;">Sign Up</div></a>
            <a href="/"><img src="{{ url_for('static', filename='images/logo_text.png') }}" width="225px" height="50px" style="margin-top: 20px; margin-left: 20px;"></a>
        </div>
    </body>
</html>