<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{{ url_for('static', filename='globals.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='website.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='forgot-password.css') }}" rel="stylesheet"/>
        <script src="{{ url_for('static', filename='globals.js') }}"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <title>Reset Password</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}" class="logo">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/logo.svg') }}" class="logo">
    </head>
    <body>
        <header>
            <a href="/"><img id="logo" src="{{ url_for('static', filename='images/logo-text.svg') }}" height="50" alt="LinkJoin Logo"></a>
        </header>
        <div id="page">
            <div id="form_box">
                <h1>We'll send you an email to reset your password.</h1>
                <p class="error" id="wrong_email">No account is registered with that email.</p>
                <input id="email" type="email" placeholder="Email address">
                <a id="reset" type="button" onclick="resetPassword()">Send email <p>❯</p></a>
            </div>
        </div>
    </body>
    <script>
        async function resetPassword() {
            let resp = await fetch('/reset-password', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({'token': "{{ token }}", 'email': document.getElementById('email').value})
            }).then(resp => resp.text())
            if (resp === 'Invalid token') {
                return document.getElementById('wrong_email').style.display = 'block'
            }
            for (const i of document.getElementById('form_box').children) {
                i.style.display = 'none'
            }
            const newH1 = document.createElement('h1')
            const newP = document.createElement('p')
            newH1.innerText = 'Email sent!'
            newP.innerText = 'Make sure to check your spam if you don\'t see it.'
            document.getElementById('form_box').append(newH1, newP)
        }
    </script>
</html>