<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{{ url_for('static', filename='globals.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='website.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='forgot-password.css') }}" rel="stylesheet"/>
        <script src="{{ url_for('static', filename='globals.js') }}"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <title>Reset Password</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}" class="logo">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/logo.svg') }}" class="logo">
    </head>
    <body>
        <header>
            <a href="/"><img id="logo" src="{{ url_for('static', filename='images/logo-text.svg') }}" height="50" alt="LinkJoin Logo"></a>
        </header>
        <div id="page">
            <div id="form_box">
                <h1>Enter your new password below.</h1>
                <input id="password" type="password" placeholder="New password">
                <input id="confirm-password" type="password" placeholder="Confirm new password">
                <button id="reset" type="button" onclick="resetPassword()">Reset password</button>
            </div>
        </div>
    </body>
    <script>
        async function resetPassword() {
            if (document.getElementById('password').value !== document.getElementById('confirm-password').value) {
                return showError('different')
            }
            else if (document.getElementById('password').value.length < 5) {
                return showError('short')
            }
            await fetch('/reset', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({'token': '{{ token }}', 'email': '{{ email }}', 'password': document.getElementById('password').value})
            })
        }
        function showError(errorMsg) {
            // Show the little red text at the top
        }
    </script>
</html>