<!DOCTYPE html>
<html id="links_html" lang="en">
    <head>
        <script data-ad-client="ca-pub-8945030271612534" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script async src="https://arc.io/widget.min.js#n1acL2q5"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-192814042-1">
        </script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-192814042-1');
        </script>
        <script>
            let date = new Date()
            let number = "{{ number }}"
            console.log(number)
            let offset = (date.getTimezoneOffset()/60).toString()
            if (!offset.includes(".")) {offset = `${offset}.0`}
            fetch(`/setoffset?offset=${offset}&email={{username}}`, {method: 'POST'})
            const countryCodes = {{ country_codes|tojson|safe }}

        </script>
        <script src="{{ url_for('static', filename='links.js') }}"></script>
        <link href="{{ url_for('static', filename='links.css') }}" rel="stylesheet"/>
        {% if style == "old" %}
            <link href="{{ url_for('static', filename='new_links.css') }}" rel="stylesheet"/>
        {% endif %}
        <link href="{{ url_for('static', filename='globals.css') }}" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" class="logo">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/logo.png') }}" class="logo">
        <script src="{{ url_for('static', filename='redirect.js') }}"></script>
        <script src="{{ url_for('static', filename='globals.js') }}"></script>
        <title>LinkJoin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name=”robots” content="index, follow"/>
        <meta name="description" content="View, schedule, and organize all your links in one conveniently accessible website">
    </head>
    <body id="links_body" onload="load_links('{{ username }}', '{{ sort }}')">
        <img src="{{ url_for('static', filename='images/plus.svg') }}" height="80px" width="80px" onclick='popUp("popup", {{ link_names|tojson|safe }})' id="plus" alt="Click to schedule a link">
        <div id="page">
            <header id="header_links" style="margin-bottom: 100px;">
                <a href="/" id="home" target="_blank"><img src="{{ url_for('static', filename='images/logo_text.png') }}" id="home_img" width="225px" height="50px" alt="home page"></a>
                <img src="{{ url_for('static', filename='images/plus.png') }}" height="100px" width="100px" onclick='popUp("popup", {{ link_names|tojson|safe }})' id="plus_button" alt="Click to schedule a link">
                <div id="links_menu">
                    <a><div class="button header_button underline" onclick="addNumberShow()">
                        {% if number == None %} Add Number {% else %} Change Number {% endif %}
                    </div></a>
                    <a href="/login"><div class="button header_button underline">Switch Account</div></a>
                    <a><div class="button header_button underline" onclick="logOut()">Log Out</div></a>
                </div>
                <div id="dropdown">
                    <div id="hamburger">
                        <div id="line1"></div>
                        <div id="line2"></div>
                        <div id="line3"></div>
                    </div>
                    <div id="hamburger_dropdown">
                        <a><div class="button header_button underline" onclick="addNumberShow()">
                            {% if number == None %} Add Number {% else %} Change Number {% endif %}
                        </div></a>
                        <a href="/login"><div class="button header_button underline">Switch Account</div></a>
                        <a><div class="button header_button underline" onclick="logOut()">Log Out</div></a>
                    </div>
                </div>
            </header>
            <div id="box">
                <div id="sort_by">Sort By:</div>
                <select onchange="sort()" id="sort">
                    <option value="none" style="color: white" {% if sort == "no" %}selected{% endif %}>None</option>
                    <option value="day" style="color: white" {% if sort == "day" %}selected{% endif %}>Day</option>
                    <option value="time" style="color: white" {% if sort == "time" %}selected{% endif %}>Time</option>
                    <option value="datetime" style="color: white" {% if sort == "datetime" %}selected{% endif %}>Day & Time</option>
                </select>
            </div>
                <div class="gone" id="disappear">
                    <img src="{{ url_for('static', filename='images/links_loader.png') }}" height="430" width="450" alt="Man with clock">
                    <div id="click_the_plus">Click the + button to start scheduling your meetings!</div>
                </div>
                <div id="insert"></div>
            <footer class="footer_links" id="footer_links">
                <div><img src="{{ url_for('static', filename='images/heart.svg') }}" class="links_footer_image" alt="heart"><div class="footer_link" style="cursor: pointer;">Crafted by Seth Raphael</div></div>
                <div><img src="{{ url_for('static', filename='images/discord.svg') }}" class="links_footer_image" alt="discord logo"><a href="https://discord.gg/MbqYAA36fx"><div class="footer_link">Join the Discord</div></a></div>
                <div><img src="{{ url_for('static', filename='images/github.svg') }}" class="links_footer_image" alt="github logo"><a href="https://github.com/Latkecrszy/linkjoin"><div class="footer_link">Contribute on Github</div></a></div>
                <div><img src="{{ url_for('static', filename='images/phone.svg') }}" class="links_footer_image" alt="phone"><a href="https://mail.google.com/mail/u/0/?fs=1&to=linkjoin.xyz@gmail.com&tf=cm" class="footer_link">Get in Contact</a></div>
                <div><img src="{{ url_for('static', filename='images/link_footer.svg') }}" class="links_footer_image" alt="link"><a href="https://storyset.com/work" class="footer_link">Illustration by Freepik Storyset</a></div>
            </footer>
        </div>
        <div class="popup_delete" id="popup_delete">
            <div>Are you sure you want to delete</div>
            <div id="delete_buttons_container">
                <a><button id="button_no" onclick="hide('popup_delete')">No</button></a>
                <a id="delete_button"><button id="button_yes">Yes</button></a>
            </div>
        </div>

        <div id="popup_share" style="display: none">
            <img src="{{ url_for('static', filename='images/arrow_left.png') }}" height="20px" width="20px" style="margin: -10px 0 -10px 20px; cursor: pointer" onclick="hide('popup_share')" alt="back to links page">
            <p>Share this url with others to add your link to their list!</p>
            <div><input id="share_link">
            <button id="click_to_copy">Click to Copy</button></div>
        </div>
        <div id="popup">
            <img src="{{ url_for('static', filename='images/arrow_left.png') }}" style="margin: 20px 0 -30px 20px; height: max(1.2vw, 20px); width: max(1.2vw, 20px); cursor: pointer;" onclick="hide('popup')" alt="back to links page">
            <div id="title">Schedule a new meeting</div>
            <div id="error"></div>
            <form id="create" autocomplete="off">
                <div class="flex">
                    <img id="name_img" src="{{ url_for('static', filename='images/text.svg') }}" height="15px" width="20px" alt="text symbol">
                    <input type="text" placeholder="Meeting Title" id="name" required>
                </div>
                <div class="flex">
                    <img id="link_img" src="{{ url_for('static', filename='images/link.svg') }}" height="13px" width="18px;" alt="link symbol" style="margin-top: 33px">
                    <input type="text" placeholder="Meeting Link" id="link" required>
                </div>
                <div class="flex">
                    <img id="time_img" src="{{ url_for('static', filename='images/time.svg') }}" height="18px" width="18px" alt="clock">
                    <select id="hour" class="popup_select" style="margin: 25px 0 0 10px !important; height: 20px; width: 25px;">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                    <p class="popup_select" style="margin: 23px 0 0 0 !important; height: 20px; width: 5px;">:</p>
                    <select id="minute" class="popup_select" style="margin: 25px 0 0 0 !important; height: 20px; width: 25px;">
                        <option>00</option>
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                        <option>06</option>
                        <option>07</option>
                        <option>08</option>
                        <option>09</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                        <option>32</option>
                        <option>33</option>
                        <option>34</option>
                        <option>35</option>
                        <option>36</option>
                        <option>37</option>
                        <option>38</option>
                        <option>39</option>
                        <option>40</option>
                        <option>41</option>
                        <option>42</option>
                        <option>43</option>
                        <option>44</option>
                        <option>45</option>
                        <option>46</option>
                        <option>47</option>
                        <option>48</option>
                        <option>49</option>
                        <option>50</option>
                        <option>51</option>
                        <option>52</option>
                        <option>53</option>
                        <option>54</option>
                        <option>55</option>
                        <option>56</option>
                        <option>57</option>
                        <option>58</option>
                        <option>59</option>
                    </select>
                    <!--<input type="number" id="hour" max="12" min="1" style="width: 50px" placeholder="hour" required>
                    <input type="number" id="minute" max="59" min="1" style="width: 50px" placeholder="min" required>-->
                    <select class="popup_select" style="margin: 25px 0 0 10px !important; height: 20px; width: 30px;" id="am">
                        <option value="am">AM</option>
                        <option value="pm" id="pm">PM</option>
                    </select>
                    <!--Put cell phone icon next to text me a reminder
                    -->
                </div>
                <div class="flex">
                    <img id="password_img" src="{{ url_for('static', filename='images/lock.svg') }}" height="18px" width="15px" alt="lock symbol">
                    <input type="text" placeholder="Optional: Meeting Password" id="password">
                </div>
                <hr style="opacity: 0.2; margin-top: 30px;" width="77%">
                <div class="flex_right" id="repeats_container">
                    <div id="repeats_text">Repeats</div>
                    <select id="select" class="popup_select">
                        <option value="never" id="never">Never</option>
                        <option value="week" id="week" selected>every week</option>
                        <option value="2 weeks" id="2 weeks">every 2 weeks</option>
                        <option value="3 weeks" id="3 weeks">every 3 weeks</option>
                        <option value="4 weeks" id="4 weeks">every 4 weeks</option>
                    </select>
                    <div class="vertical_line"></div>
                    <div id="starts">Starts
                        <select class="popup_select" id="starts_select">
                            <option value="0" id="0">This week</option>
                            <option value="1" id="1">in 1 week</option>
                            <option value="2" id="2">in 2 weeks</option>
                            <option value="3" id="3">in 3 weeks</option>
                            <option value="4" id="4">in 4 weeks</option>
                        </select>
                    </div>
                </div>
                <div id="days">
                    <button value="Sun" id="Sun" type="button">Su</button>
                    <button value="Mon" id="Mon" type="button">M</button>
                    <button value="Tue" id="Tue" type="button">Tu</button>
                    <button value="Wed" id="Wed" type="button">W</button>
                    <button value="Thu" id="Thu" type="button">Th</button>
                    <button value="Fri" id="Fri" type="button">F</button>
                    <button value="Sat" id="Sat" type="button">Sa</button>
                </div>
                <div id="starts_container">
                    <div id="text_container">
                        <div>Text me</div>
                        <select class="popup_select" id="text_select">
                            <option value="false">Never</option>
                            <option value="5" selected>5 minutes before</option>
                            <option value="10">10 minutes before</option>
                            <option value="15">15 minutes before</option>
                            <option value="20">20 minutes before</option>
                            <option value="30">30 minutes before</option>
                            <option value="45">45 minutes before</option>
                            <option value="60">60 minutes before</option>
                        </select>
                    </div>
                    <button type="button" id="submit" onclick="register_link('register')">Create</button>
                </div>
            </form>
        </div>
        <div id="popup_premium">
            <div>You have reached the limit of 10 free links. To add more, <a href="/premium" target="_blank">try premium</a>!</div>
        </div>
        <div id="check_popup" class="tutorial">Please wait, checking popup permissions...</div>
        <div id="popups_not_enabled" class="tutorial">
            Popups are still not enabled.
            If you do not see a notification telling you that a popup was blocked, enter your browser settings and enable popups manually.
            If you think that there has been a mistake, please email me at linkjoin.xyz@gmail.com. If you wish, you may continue without enabling popups, but your links will not open.
            <div>
            <button class="ok" style="height: 70px; margin-right: 20px" onclick="tutorial(1)">Check my popups</button>
            <button class="ok" style="height: 70px" onclick="tutorial(1, true)">Continue without popups</button></div>
        </div>
        <div id="tutorial-1" class="tutorial">
            Hi there! Welcome to LinkJoin! Let's get you set up and ready to be on time.
            <div><button class="ok" onclick="tutorial(0)" style="margin-right: 20px">I'm ready!</button>
            <!--<button class="ok" onclick="skipTutorial()">Skip</button>--></div>
        </div>
        <div id="tutorial0" class="tutorial">
            <p>You should see an icon on the right side of your search bar indicating that popups are blocked.
                Click on the icon and select Always allow pop-ups redirects from https://linkjoin.xyz.</p>
            <button class="ok" onclick="tutorial(1)">Check my popups</button>
        </div>
        <div id="tutorial1" class="tutorial">
            Let's get started by showing you around the page.
            This menu is where you can change how your links are organized.
            Choose from sorting by day, time, or both!
            <button class="ok" onclick="tutorial(2)">Next</button>
        </div>
        <div id="tutorial2" class="tutorial">
            Next, these buttons will let you manage your account. Switch accounts or log out at any time.
            <button class="ok" onclick="tutorial(3)">Next</button>
        </div>
        <div id="tutorial3" class="tutorial">
            Now, the important part: Let's schedule our first link. Click on the big plus right there to get started.
            <button class="ok" onclick="tutorial(4)">Next</button>
        </div>
        <div id="tutorial4" class="tutorial">
            Nice! Now, let's give our new meeting a title.
            <button class="ok" onclick="tutorial(5)">Next</button>
        </div>
        <div id="tutorial5" class="tutorial">
            Next, add in a link, time, and an optional password.
            <button class="ok" onclick="tutorial(6)">Next</button>
        </div>
        <div id="tutorial6" class="tutorial">
            To change how often your link will open, select an option from the dropdown here. Go ahead, try it out!
            <button class="ok" onclick="tutorial(7)">Next</button>
        </div>
        <div id="tutorial7" class="tutorial">
            You can change when your link will start to open. It could be today, in a week, or more!
            <button class="ok" onclick="tutorial(8)">Next</button>
        </div>
        <div id="tutorial8" class="tutorial">
            To select days for your link to open, just click on the days that you want! They'll turn blue to let you know they are selected.
            <button class="ok" onclick="tutorial(9)">Next</button>
        </div>
        <div id="tutorial9" class="tutorial">
            Let LinkJoin text you before your meeting starts to remind you to get on the computer.
            <button class="ok" onclick="tutorial(10)">Next</button>
        </div>
        <div id="tutorial10" class="tutorial">
            Great job! All that's left is to click Create, and your link will be on the books. Enjoy LinkJoin!
            <button class="ok" onclick="tutorial(11)">Thanks!</button>
        </div>
        <div id="spotlight"></div>
        <div id="blur"></div>
        <div id="add_number_div">
            <img src="{{ url_for('static', filename='images/arrow_left.png') }}" height="20px" width="20px" id="dismiss_add_number" onclick="no_add_number()" alt="back to links page">
            <div class="content">
                <h2>One More Thing!</h2>
                <p>
                    We noticed that you haven't added a phone number to your account.
                    This means that you won't receive text reminders for your links.
                    To add a number, type it in below.
                    If you don't want to add your number, click the arrow in the upper left.
                </p>
                <input id="number" type="text" placeholder="Phone number">
                <button id="add_number" onclick="add_number()">Add Number</button>
            </div>
        </div>
    </body>
</html>