<!DOCTYPE html>
<html id="login_html" lang="en" class="nobar">
    <head>
        <link rel="canonical">
        <link rel="manifest" href="../static/manifest.json">
        <script src="../static/globals.js"></script>
        <script type="application/javascript">
          (function(b,o,n,g,s,r,c){if(b[s])return;b[s]={};b[s].scriptToken="XzE3MDA3NTg5Mzg";b[s].callsQueue=[];b[s].api=function(){b[s].callsQueue.push(arguments);};r=o.createElement(n);c=o.getElementsByTagName(n)[0];r.async=1;r.src=g;r.id=s+n;c.parentNode.insertBefore(r,c);})(window,document,"script","https://cdn.oribi.io/XzE3MDA3NTg5Mzg/oribi.js","ORIBI");
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-MR5B009GBF');
        </script>
        <link href="../static/globals.css" rel="stylesheet"/>
        <link href="../static/login.css" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <script src="https://accounts.google.com/gsi/client"></script>

        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="../static/images/logo.svg" class="logo">
        <link rel="apple-touch-icon" href="../static/images/logo.svg" class="logo">
        <title>LinkJoin | Log In</title>
        <meta name="description" content="Welcome Back! Log in to have your meetings opened for you.">
        <meta name=”robots” content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="keywords" content="late, automate, on time, linkjoin, link, join, zoom, meeting">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#091B30">
    </head>
    <body id="login_body">
        <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
            <path d="m 235,0 c 65,200 -85,100 115,600 L 0.75595238,600.1131 0,0 Z"></path>
        </svg>
        <header id="header-links">
            <a href="/" id="back"><img src="../static/images/arrow-left.svg" height="25px" width="25px" alt="back arrow"></a>
            <div style="padding-left: 40px">Don't have an account?</div>
            <a href="/signup?redirect={{ redirect }}" class="login_button">Sign Up <img src="../static/images/right-angle.svg" height="12px" width="8px" alt="right arrow"></a>
        </header>
        <div id="main_page">
            <div id="left_content">
                <img src="../static/images/logo.svg" id="logo" alt="LinkJoin logo">
                <div id="signup_title">LinkJoin</div>
                <div id="signup_text">Never be late again</div>
            </div>
            <div id="right_content">
                <div id="welcome">Welcome Back</div>
                <div class="error" id="email_not_found" style="display: none">No account is associated with this email.</div>
                <div class="error" id="incorrect_password" style="display: none">Incorrect Password.</div>
                <div class="error" id="no_password" style="display: none">Please log in with Google.</div>
                <div class="error" id="login_failed" style="display: none">Login failed, please refresh the page and try again.</div>
                <div class="error" id="not_confirmed" style="display: none">Please confirm your email before logging in.</div>
                <div class="error" id="google_login_failed" style="display: none">Google Login failed, please refresh the page and try again.</div>
                {% if error == "not_logged_in" %}
                    <div class="error" style="font-size: 17px" id="not_logged_in">Log in to view your links</div>
                {% endif %}
                <div id="gsignin">Log In With Google</div>
                <div style="width: 100%; height: 10px; border-bottom: 2px solid white; text-align: center; opacity: 0.4; margin-top: 20px;">
                    <span style="font-size: 20px; background-color: var(--blue); padding: 0 4px;"> Or </span>
                </div>
                <input type="email" name="email" id="email" placeholder="Email" required><br>
                <input id="password" name="password" placeholder="Password" type="password" required><br>
                <a href="/reset-password" id="reset">Forgot password?</a>
                <div id="keep_div"><input type="checkbox" name="keep" id="keep" checked><p id="keep_text">Keep me logged in</p></div>
                <button id="submit" class="hover-arrow" onclick="disableButton(this); logIn()">Log In <img src="../static/images/right-angle.svg" alt="right arrow"></button>
            </div>
        </div>
    </body>
    <script>
        let token = "{{ token }}"
        document.getElementById('email').value = "{{ email }}" === "None" ? "" : "{{ email }}"
        try {document.getElementById('{{ error }}').style.display = "block"} catch {}

        document.addEventListener('visibilitychange', async () => {
            const tokenStatus = await fetch(`/validatetoken`, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({'token': token})
            }).then(response => response.json())
            console.log(tokenStatus)
            if (tokenStatus['status'] !== 'valid') {
                location.reload()
            }
        })

        document.addEventListener("keyup", e => {
            if (e.key === "Enter" || e.keyCode === 13) {
                e.preventDefault();
                document.getElementById("submit").click()
            }
        });

        if (!(navigator.userAgent.indexOf("Chrome") > -1 || navigator.userAgent.indexOf("Firefox") > -1 ||
            navigator.userAgent.indexOf("Safari") > -1)) {
            document.getElementById("gsignin").remove()
        }

        window.addEventListener('load', () => {
            google.accounts.id.initialize({
                client_id: "656426026470-8tkb2jklkpvsovbdvmrjpqv4crsilt93.apps.googleusercontent.com",
                callback: googleLogIn});

            google.accounts.id.renderButton(
                document.getElementById("gsignin"),
                { theme: "outline", size: "large" });
            google.accounts.id.prompt();
        })


        async function logIn() {
            const data = await fetch('/login', {
                    headers: {'Content-Type': 'application/json'},
                    method: "POST",
                    body: JSON.stringify({email: document.getElementById("email").value, redirect: "{{ redirect }}",
                    keep: document.getElementById("keep").checked, password: document.getElementById("password").value,
                    token: token})

                })
            await processData(data)
        }

        async function googleLogIn(r) {
            disableButton(document.getElementById('submit'))
            disableButton(document.getElementById('gsignin'))
            const data = await fetch('/login', {
                headers: {'Content-Type': 'application/json'},
                method: "POST",
                body: JSON.stringify({redirect: "{{ redirect }}", keep: document.getElementById("keep").checked,
                    jwt: r.credential.toString(), token: token})
            })
            await processData(data)
        }


        async function processData(data) {
            ['email_not_found', 'incorrect_password', 'not_logged_in'].forEach((i) => {try {document.getElementById(i).style.display = "none"} catch {}})
            document.getElementById('email').style.border = "none"
            document.getElementById('password').style.border = "none"
            data = await data.json()
            token = data['token']
            if (data['error'] === '') {
                location.replace(`/set_cookie?email=${data['email']}&keep=${data['keep']}&url=${data['url']}&token=${data['token']}`)
            }
            else {
                enableButton('submit')
                enableButton('gsignin')
                document.getElementById(data['error']).style.display = "block"
                if (data['error'] === 'email_not_found') {
                    document.getElementById("email").style.border = "2px solid red"
                }
                else {
                    document.getElementById('reset').style.display = 'block'
                    document.getElementById("password").style.border = "2px solid red"
                }
            }
        }
  </script>
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</html>