<!DOCTYPE html>
<html id="login_html" lang="en">
    <head>
        <script data-ad-client="ca-pub-8945030271612534" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-192814042-1">
            <script async src="https://arc.io/widget.min.js#n1acL2q5"></script>
        </script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-192814042-1');
        </script>
        <script>setInterval(function() {Array.prototype.forEach.call(document.getElementsByTagName("span"), x => {if (x.id.toString().includes("connected") || x.id.toString().includes("not_signed")) {x.innerText = "Log In With Google"}})}, 1)</script>
        <link href="{{ url_for('static', filename='globals.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="189748485716-pip2ll8uo27n1pmv003n5thm7sjtgcav.apps.googleusercontent.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" class="logo">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/logo.png') }}" class="logo">
        <title>LinkJoin | Log In</title>
        <meta name="description" content="Welcome Back! Log in to have your meetings opened for you.">
        <meta name=”robots” content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="keywords" content="late, automate, on time, linkjoin, link, join, zoom, meeting">
    </head>
    <body id="login_body">
        <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
            <path d="m 235,0 c 65,200 -85,100 115,600 L 0.75595238,600.1131 0,0 Z"></path>
        </svg>
        <header id="header_links">
            <a href="/" id="back"><img src="{{ url_for('static', filename='images/arrow_left.png') }}" height="20px" width="20px" alt="back arrow"></a>
            <div style="padding-left: 40px">Don't have an account?</div>
            <a href="/signup?redirect={{ redirect }}" class="login_button">Sign Up <img src="{{ url_for('static', filename='images/pointy_thing.png') }}" height="12px" width="8px" alt="right arrow"></a>
        </header>
        <div id="main_page">
            <div id="left_content">
                <img src="{{ url_for('static', filename='images/Frame.png') }}" id="logo" alt="LinkJoin logo">
                <div id="signup_title">LinkJoin</div>
                <div id="signup_text">Never be late again</div>
            </div>
            <div id="right_content">
                <div id="welcome">Welcome Back</div>
                <div class="error" id="email_not_found" style="display: none">No account is associated with this email</div>
                <div class="error" id="incorrect_password" style="display: none">Incorrect Password</div>
                <div class="error" id="login_failed" style="display: none">Login failed, please try again</div>
                <div class="error" id="google_login_failed" style="display: none">Google login failed, please try again</div>
                {% if error == "not_logged_in" %}
                    <div class="error" style="font-size: 17px" id="not_logged_in">Log in to view your links</div>
                {% endif %}
                <div data-onsuccess="onLogIn" onclick="loggedIn()" id="gsignin" class="g-signin2">Log In With Google</div>
                <div style="width: 100%; height: 10px; border-bottom: 2px solid white; text-align: center; opacity: 0.4; margin-top: 20px;">
                    <span style="font-size: 20px; background-color: #142539; padding: 0 4px;"> Or </span>
                </div>
                <input type="email" name="email" id="email" placeholder="Email" required><br>
                <input id="password" name="password" placeholder="Password" type="password" required><br>
                <div id="keep_div"><input type="checkbox" name="keep" id="keep"><p id="keep_text">Keep me logged in</p></div>
                <button id="submit" onclick="logIn()">Log In<img src="{{ url_for('static', filename='images/right_arrow.png') }}" style="top: 3px; left: 8px; position: relative;" width="20px" height="20px" alt="Right arrow"></button>
                {% if error == "incorrect_password" %}
                    <a href="/reset_password" id="reset">Forgot password?</a>
                {% endif %}
            </div>
        </div>
    </body>
    <script>
        document.getElementById('{{ error }}').style.display = "block"
        let logged = false
        async function logIn() {
            const data = await fetch('/login', {
                    headers: {'Content-Type': 'application/json'},
                    method: "POST",
                    body: JSON.stringify({email: document.getElementById("email").value, redirect: "{{ redirect }}",
                    keep: document.getElementById("keep").checked, password: document.getElementById("password").value})
                })
            await processData(data)
        }
        function loggedIn() {logged = true;}
        async function onLogIn(googleUser) {
            if (logged) {
                let profile = await googleUser.getBasicProfile()
                const data = await fetch('/login', {
                    headers: {'Content-Type': 'application/json'},
                    method: "POST",
                    body: JSON.stringify({email: profile.getEmail(), redirect: "{{ redirect }}",
                    keep: document.getElementById("keep").checked, token: googleUser.getAuthResponse().id_token})
                })
                await processData(data)
            }
       }
    function renderButton() {
      gapi.signin2.render('gsignin', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onLogIn,
      });
    }

    if (!(navigator.userAgent.indexOf("Chrome") > -1 || navigator.userAgent.indexOf("Firefox") > -1 || navigator.userAgent.indexOf("Safari") > -1)) {
        document.getElementById("gsignin").remove()
    }
    async function processData(data) {
        ['email_not_found', 'incorrect_password', 'not_logged_in'].forEach((i) => {try {document.getElementById(i).style.display = "none"} catch {}})
        document.getElementById('email').style.border = "none"
        document.getElementById('password').style.border = "none"
        data = await data.json()
        if (data['error'] === '') {
            location.replace(`/set_cookie?email=${data['email']}&keep=${data['keep']}&url=${data['url']}&token=${data['token']}`)
        }
        else {
            document.getElementById(data['error']).style.display = "block"
            if (data['error'] === 'email_not_found') {
                document.getElementById("email").style.border = "2px solid red"
            }
            else {
                document.getElementById("password").style.border = "2px solid red"
            }
        }
    }
  </script>
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</html>