<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LinkJoin Pricing</title>
    </head>

    <body>
        <p id="pick-a-plan">Pick the plan that's best for you!</p>
        <div id="plans">
            <!--Plans: Free ($0), Basic ($5), Extra ($10), Pro ($15), School (contact)-->
            <div class="plan">
                <p class="name">Free</p>
                <p class="cost">$0 per month</p>
                <p class="description">
                    Keep track of all your virtual meetings with 5 free links!
                    Get access to all of the crucial features of LinkJoin like automatically opening meetings, sorting
                    links by date and time, and texting reminders ahead of time, all for free!
                </p>
            </div>
            <div class="plan">
                <p class="name">Basic</p>
                <p class="cost">$4.95 per month</p>
                <p class="description">
                    With the Basic plan, you have the ability to schedule 10 links instead of 5! Become the master of
                    your meetings with meeting notes
                </p>
            </div>
        </div>
    </body>
</html>