<!DOCTYPE html>
<html lang="en" class="nobar">
    <head>
        <title>LinkJoin Pricing</title>
        <link href="../static/globals.css" rel="stylesheet"/>
        <link href="../static/pricing.css" rel="stylesheet"/>
        <script src="../static/globals.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <img id="logo" src="../static/images/logo-text.svg" height="50" alt="LinkJoin Logo" onclick="window.open('https://linkjoin.xyz')" style="cursor: pointer;">
            <a href="/links" class="underline">Meetings</a>
            <a href="/bookmarks" class="underline">Bookmarks</a>
            <a href="/login" class="underline">Log In</a>
            <a href="/signup" class="login_button" style="margin-top: 5px">Sign Up <img src="../static/images/right-angle.svg" height="12px" width="8px" alt="Right facing arrow"></a>

            <div id="dropdown">
                <input id="dropdown-checkbox" type="checkbox"/>
                <span></span>
                <span></span>
                <span></span>
                <div id="hamburger_dropdown">
                    <a href="/login" class="login_button" style="margin: 5px 25px">Log In <img src="../static/images/right-angle.svg" height="12px" width="8px" alt="Right facing arrow"></a>
                    <a href="/signup" class="underline">Sign Up</a>
                    <a href="/links" class="underline">Meetings</a>
                    <a href="/bookmarks" class="underline">Bookmarks</a>
                </div>
              </div>
        </header>
        <p id="pick-a-plan">Choose the plan that best applies.</p>
        <div id="plans">
            <!--Plans: Free ($0), Basic ($5), Extra ($10), Pro ($15), School (contact)-->
            <!-- Current plans: Individual ($0), Mini School ($5/user/month), Small School ($3/user/month),
            Medium School ($2/user/month), Large School ($1/user/month)-->
            <div class="plan">
                <p class="name">Individual</p>
                <p class="limit">1 user</p>
                <p class="price"><a>$0</a> per month</p>
                <p class="description">
                    Full access to LinkJoin forever. No fees. No ads. No limits.
                </p>
                <button onclick="window.open('/signup')" class="action hover-arrow">Get started! <img loading="lazy" src="../static/images/right-angle.svg" alt="right arrow"></button>
            </div>
            <div class="plan">
                <p class="name">School</p>
                <p class="limit">Unlimited users</p>
                <p class="price"><a>$1-5</a> per user per month</p>
                <p class="description">
                    Automatic account setup and admin controls for your school.
                </p>
                <button onclick="window.open('https://mail.google.com/mail/u/0/?fs=1&to=seth@linkjoin.xyz&tf=cm')" class="action hover-arrow">Get in touch! <img loading="lazy" src="../static/images/right-angle.svg" alt="right arrow"></button>
            </div>
        </div>
    </body>
</html>