<!DOCTYPE html>
<html>
    <head>
        <script async src="https://arc.io/widget.min.js#n1acL2q5"></script>
        <meta name=”robots” content="noindex, nofollow">
        <link href="{{ url_for('static', filename='globals.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='website.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='privacy.css') }}" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <title>LinkJoin | Auto Join Zoom Meetings With Ease</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" class="logo">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/logo.png') }}" class="logo">
    </head>
    <body>
        <header>
            <img id="logo" src="{{ url_for('static', filename='images/logo_text.png') }}" height="40" alt="LinkJoin Logo" onclick="window.open('/')" style="cursor: pointer">
            <a href="/premium">Premium</a>
            <a href="/links">My Links</a>
            <a href="/signup">Sign Up</a>
            <a href="/login" class="login_button" style="margin-top: 5px">Log In <img src="{{ url_for('static', filename='images/pointy_thing.png') }}" height="12px" width="8px" alt="Right facing arrow"></a>
            <div id="dropdown">
                <div id="hamburger">
                    <div id="line1"></div>
                    <div id="line2"></div>
                    <div id="line3"></div>
                </div>
                <div id="hamburger_dropdown">
                    <a href="/signup" class="login_button" style="margin-top: 5px">Sign Up <img src="{{ url_for('static', filename='images/pointy_thing.png') }}" height="12px" width="8px" alt="Right facing arrow"></a>
                    <a href="/login">Log In</a>
                    <a href="/premium">Premium</a>
                    <a href="/links">Links</a>
                </div>
            </div>
        </header>
        <div id="page">
            <h1>Privacy Policy</h1>
            <div id="privacy">
                LinkJoin takes user privacy and security very seriously.
                That's why we keep all important data fully encrypted, and sell absolutely no information.
                Account passwords are protected by a one way encryption called argon2.
                Your password is never stored, instead a match is generated which the program can check your password against.
                Other data is encrypted from end to end with a secret key, meaning that gaining unauthorized access to
                that information is extremely difficult. We collect only the necessary information for LinkJoin to function:
                email address, phone number, timezone, and Zoom meeting links, times, names, days, and sometimes passwords.
                LinkJoin collects email address to allow google sign ups and make it easier for users, and phone numbers
                are collected to text reminders. Your timezone is collected so that reminders can be texted at the
                appropriate time, and so that meetings can open correctly. Your Zoom meeting information is collected
                to be able to open meetings and display information. Your information and privacy are safe with LinkJoin.
            </div>
        </div>
    </body>
    <script>
        document.addEventListener("click", x => {if (x.target.matches("#hamburger") || x.target.matches("#line1") || x.target.matches("#line2") || x.target.matches("#line3")) {document.getElementById("hamburger").classList.toggle("expand"); document.getElementById("hamburger_dropdown").classList.toggle("expand")}})
    </script>
</html>