<!DOCTYPE html>
<html lang="en" class="nobar">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-MR5B009GBF"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-MR5B009GBF');
        </script>
        <script src="{{ url_for('static', filename='globals.js') }}"></script>
        <meta name=”robots” content="noindex, nofollow">
        <link href="{{ url_for('static', filename='globals.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='website.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='privacy.css') }}" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <title>LinkJoin</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}" class="logo">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/logo.svg') }}" class="logo">
    </head>
    <body>
        <header>
            <img id="logo" src="{{ url_for('static', filename='images/logo-text.svg') }}" height="40" alt="LinkJoin Logo" onclick="window.open('/')" style="cursor: pointer">
            <a href="/links" class="underline">My Links</a>
            <a href="/signup" class="underline">Sign Up</a>
            <a href="/login" class="login_button" style="margin-top: 5px">Log In <img src="{{ url_for('static', filename='images/right-angle.svg') }}" height="12px" width="8px" alt="Right facing arrow"></a>
            <div id="dropdown">
                <div id="hamburger">
                    <div id="line1"></div>
                    <div id="line2"></div>
                    <div id="line3"></div>
                </div>
                <div id="hamburger_dropdown">
                    <a href="/signup" class="login_button" style="margin-top: 5px">Sign Up <img src="{{ url_for('static', filename='images/right-angle.svg') }}" height="12px" width="8px" alt="Right facing arrow"></a>
                    <a href="/login" class="underline">Log In</a>
                    <a href="/links" class="underline">Links</a>
                </div>
            </div>
        </header>
        <div id="page">
            <h1>Privacy Policy</h1>
            <h2>What information does LinkJoin collect?</h2>
            <p>
                LinkJoin takes user privacy and security very seriously.
                That's why we keep all important data fully encrypted, and sell absolutely no information.
                We collect only the necessary information for LinkJoin to function:
                Email address, phone number, timezone, and meeting links, times, names, days, and sometimes passwords.
                LinkJoin collects email address to allow Google sign-ups and make the process easier for users, and phone numbers
                are collected for text reminders. Your timezone is collected so that reminders can be texted at the
                appropriate time, and so that meetings can open correctly. Your meeting information is collected
                to be able to open meetings and display information.
            </p>
            <h2>How is my information protected?</h2>
            <p>
                Account passwords are protected by a one way encryption called argon2.
                Your password is never stored, instead a match is generated which the program can check your password against.
                Other data is encrypted from end to end with a secret key, making a third party gaining access to that information very unlikely.
                Your information and privacy are safe with LinkJoin.
            </p>
        </div>
    </body>
</html>