<html>
    <head>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body onload="NewTab()">
        <div class="header_links" id="header">
            <div onclick="redirect('help')" class="button signup" style="top: 26%;">Help</div>
            <div onclick="redirect('about')" class="button signup" style="top: 26%;">About Us</div>
            <div onclick="redirect('links')" class="button signup" style="top: 26%;">Links</div>
            <img src="https://cdn.discordapp.com/attachments/716377034728931331/809162338724610108/Frame_123.png" width="225px" height="50px" style="margin-top: 20px; margin-left: 20px;" onclick="redirect('')">
        </div>
        <img src="https://cdn.discordapp.com/attachments/716377034728931331/810197835848220742/Work_time-amico.png" height="600px" width="600px" style="margin-left: 30vw;  position: relative; bottom: 75px;">

    </body>
    <script>
        function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function NewTab() {
            const user_links = {{ user_links|tojson|safe }}
            let minute = parseInt("{{ minute }}")
            let day = "{{ day }}"
            let hour = parseInt("{{ hour }}")
            while (true) {
                for (const link of user_links) {
                    let link_hour = parseInt(link["time"].split(":")[0])
                    let link_minute = parseInt(link["time"].split(":")[1])
                    if (link["days"].includes(day) && hour == link_hour && minute == link_minute) {
                        window.open(link["link"])
                    }
                }
                await sleep(60000)
                minute += 1
                if (minute >= 60) {
                    minute -= 60
                    hour += 1
                    if (hour > 24) {
                        location.reload()
                    }
                }
            }
        }

        function redirect(redirect_to) {
            window.open("/"+redirect_to)
        }
    </script>
</html>