<html style="overflow: hidden;">
    <head>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/716377034728931331/811066926910144532/Frame_106.png" class="logo">
        <link rel="apple-touch-icon" href="https://cdn.discordapp.com/attachments/716377034728931331/811066926910144532/Frame_106.png" class="logo">
        <title>LinkJoin</title>
    </head>
    <body onload="NewTab()">
        <div class="header_links" id="header">
            <div onclick="redirect('help')" class="button signup" style="top: 26%;">Help</div>
            <div onclick="redirect('about')" class="button signup" style="top: 26%;">About Us</div>
            <div onclick="redirect('links')" class="button signup" style="top: 26%;">Links</div>
            <img src="https://cdn.discordapp.com/attachments/716377034728931331/809162338724610108/Frame_123.png" width="225px" height="50px" style="margin-top: 20px; margin-left: 20px;" onclick="redirect('')">
        </div>
        <img src="https://cdn.discordapp.com/attachments/716377034728931331/810197835848220742/Work_time-amico.png" height="450px" width="450px" style="margin-left: 36vw;  position: relative; bottom: 75px;">
        <div class="where_it_happens">
            This is where the magic happens! Just leave this page open on your computer, and your meetings will be joined right on time.
        </div>
        <div class="enable">
            Depending on your browser, you may need to enable pop up windows for LinkJoin to function. To fix this, just go into your browser settings and enable popups from this site.
        </div>
    </body>
    <script>
        function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        }

        function nextDay(day) {
            days = {"1": "Mon", "2": "Tue", "3": "Wed", "4": "Thu", "5": "Fri", "6": "Sat", "7": "Sun"}
            for (const day_num in days) {
                if (days[day_num] == day) {
                    if (parseInt(day_num) == 7) {
                        console.log("Mon")
                        return "Mon"
                    }
                    else {
                        console.log(days[parseInt(day_num)+1])
                        return days[parseInt(day_num)+1]
                    }
                }
            }
        }

        function prevDay(day) {
            days = {"1": "Mon", "2": "Tue", "3": "Wed", "4": "Thu", "5": "Fri", "6": "Sat", "7": "Sun"}
            for (const day_num in days) {
                if (days[day_num] == day) {
                    if (parseInt(day_num) == 1) {
                        console.log("Sun")
                        return "Sun"
                    }
                    else {
                        console.log(days[parseInt(day_num)-1])
                        return days[parseInt(day_num)-1]
                    }
                }
            }
        }

        async function NewTab() {
            const user_links = fetch('https://linkjoin.xyz/db').then(function(response) {return response.json()})
            console.log(user_links)
            let diff = timeDifference()
            //const user_links = {{ user_links|tojson|safe }}
            let minute = parseInt("{{ minute }}")
            let day = "{{ day }}"
            let hour = parseInt("{{ hour }}")
            hour += Math.floor(parseInt(diff)/60)
            if (hour > 24) {
                day = nextDay(day)
                hour -= 24
            }
            else if (hour < 1) {
                day = prevDay(day)
                hour += 24
            }
            minute += parseInt(diff) % 60
            if (minute >= 60) {
                minute -= 60
                hour += 1
            }
            console.log(hour)
            console.log(minute)
            console.log(day)
            while (true) {
                for (const link of user_links) {
                    let link_hour = parseInt(link["time"].split(":")[0])
                    let link_minute = parseInt(link["time"].split(":")[1])
                    console.log(`days: ${link["days"]}, link_hour: ${link_hour}, link_minute: ${link_minute}`)
                    if (link["days"].includes(day) && hour == link_hour && minute == link_minute && link["active"] == "true") {
                        window.open(link["link"])
                    }
                }
                await sleep(60000)
                minute += 1
                if (minute >= 60) {
                    minute -= 60
                    hour += 1
                    if (hour > 24) {
                        day = nextDay(day)
                        hour -= 24
                    }
                }
                console.log(`day: ${day}, hour: ${hour}, minute: ${minute}`)
            }
        }

        function redirect(redirect_to) {
            window.open("/"+redirect_to)
        }

        function timeDifference() {
            let date = new Date()
            let difference = date.getTimezoneOffset()
            console.log(difference)
            return difference-(difference*2)
        }



    </script>
</html>