<html>
    <body>
        <form method="POST" action="/added">
            <input type="text" name="link" id="link" value="Link">
            <input type="text" name="day" id="day" value="Day, eg. Monday">
            <input type="text" name="time" id="time" value="Time, eg. 9:45">
            <input type="text" name="amorpm" id="amorpm" value="AM/PM">
            <input type="text" name="timezone" id="timezone" value="Timezone, eg. PST">
            <input type="submit" name="submit" id="submit">
        </form>
    </body>
</html>