<!DOCTYPE html>
<html lang="en">
    <body style="width: 100%; height: 100%;">
        <div style="background: #091B30; height: 800px; width: 99%; border-radius: 3px; padding: 15px;">
            <img alt="LinkJoin" src="cid:logo-text" style="margin-top: 10px; width: 290px; height: 68px; padding-left: calc(calc(100% - 300px)/2)">
            <div style="background: #142539;
            border-radius: 5px;
            margin-top: 30px;
            margin-left: 20%;
            width: 60%;
            padding: 10px 20px;
            box-sizing: border-box;
            height: 600px;
            color: white;
            font-family: Montserrat, sans-serif;
            font-size: 20px;
            text-align: left;">
                You requested a password reset for your LinkJoin account. If you did not request this, you can safely ignore this email.
                <br><br>
                Otherwise, please follow the link below to reset your password.
                <br><br>
                <a href="https://linkjoin.xyz/reset?pw={{otp}}" style="text-decoration: none; color: white;">
                    <div style="background: #2B8FD8;
                    border-radius: 5px;
                    margin-top: 30px;
                    width: 300px;
                    max-width: 100%;
                    padding: 10px 20px;
                    box-sizing: border-box;
                    min-height: 50px;
                    color: white;
                    font-family: Montserrat, sans-serif;
                    font-size: 20px;
                    text-align: center;">
                        Reset Password
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>