<!DOCTYPE html>
<html id="login_html" lang="en" class="nobar">
    <head>
        <script src="{{ url_for('static', filename='globals.js') }}"></script>
        <script type="application/javascript">
          (function(b,o,n,g,s,r,c){if(b[s])return;b[s]={};b[s].scriptToken="XzE3MDA3NTg5Mzg";b[s].callsQueue=[];b[s].api=function(){b[s].callsQueue.push(arguments);};r=o.createElement(n);c=o.getElementsByTagName(n)[0];r.async=1;r.src=g;r.id=s+n;c.parentNode.insertBefore(r,c);})(window,document,"script","https://cdn.oribi.io/XzE3MDA3NTg5Mzg/oribi.js","ORIBI");
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-MR5B009GBF"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-MR5B009GBF');
        </script>
        <script>setInterval(function() {Array.prototype.forEach.call(document.getElementsByTagName("span"), x => {if (x.id.toString().includes("connected") || x.id.toString().includes("not_signed")) {x.innerText = "Log In With Google"}})}, 1)</script>
        <link href="{{ url_for('static', filename='globals.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <script src="https://accounts.google.com/gsi/client"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}" class="logo">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/logo.svg') }}" class="logo">
        <title>LinkJoin | Sign Up</title>
        <meta name="description" content="Sign up to get started with LinkJoin, and never be late again.">
        <meta name=”robots” content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="keywords" content="late, automate, on time, linkjoin, link, join, zoom, meeting">
    </head>
    <body id="login_body">
        <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
            <path d="m 235,0 c 65,200 -85,100 115,600 L 0.75595238,600.1131 0,0 Z"></path>
        </svg>
        <header id="header_links">
            <a href="/" id="back"><img src="{{ url_for('static', filename='images/arrow-left.svg') }}" height="25px" width="25px" alt="Left arrow"></a>
            <div style="padding-left: 40px">Already have an account?</div>
            <a href="/login?redirect={{ redirect }}" class="login_button">Log In <img src="{{ url_for('static', filename='images/right-angle.svg') }}" height="12px" width="8px" alt="Right arrow"></a>
        </header>
        <div id="main_page">
            <div id="left_content">
                <img src="{{ url_for('static', filename='images/logo.svg') }}" id="logo" alt="LinkJoin logo">
                <div id="signup_title">LinkJoin</div>
                <div id="signup_text">Never be late again</div>
            </div>
            <div id="right_content">
                <div id="welcome">Create an Account</div>
                <div class="error" id="email_in_use" style="display: none">Email in use.</div>
                <div class="error" id="invalid_email" style="display: none">Invalid email.</div>
                <div class="error" id="password_too_short" style="display: none">Password must be at least 5 characters.</div>
                <div class="error" id="signup_failed" style="display: none">Signup failed, please refresh the page and try again.</div>
                <div class="error" id="other_error" style="display: none">Something went wrong, please refresh the page and try again.</div>
                <div class="error" id="google_signup_failed" style="display: none">Google signup failed, please refresh the page and try again.</div>
                <div id="gsignin">Log In With Google</div>
                <div style="width: 100%; height: 10px; border-bottom: 2px solid white; text-align: center; opacity: 0.4; margin-top: 20px;">
                    <span style="font-size: 20px; background-color: #142539; padding: 0 4px;"> Or </span>
                </div>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <input id="password" name="password" placeholder="Password" type="password" required>
                <input id="phone" name="phone" placeholder="Phone Number (Optional)" type="text"><br>
                <div id="keep_div"><input type="checkbox" name="keep" id="keep" checked><p id="keep_text">Keep me logged in</p></div>
                <button id="submit" class="hover-arrow" onclick="disableButton(this); signUp()">Sign Up <img src="{{ url_for('static', filename='images/right-angle.svg') }}" alt="right arrow"></button>
            </div>
        </div>
    </body>
    <script>
        let token = "{{ token }}"
        document.addEventListener("keyup", e => {
            if (e.key === "Enter" || e.keyCode === 13) {
                e.preventDefault();
                document.getElementById("submit").click()
            }
        });

        window.addEventListener('load', () => {
            google.accounts.id.initialize({
                client_id: "656426026470-8tkb2jklkpvsovbdvmrjpqv4crsilt93.apps.googleusercontent.com",
                callback: googleSignUp});

            google.accounts.id.renderButton(
                document.getElementById("gsignin"),
                { theme: "outline", size: "large" });
            google.accounts.id.prompt();
        })
        const date = new Date()
        let offset = (date.getTimezoneOffset()/60).toString()
        if (!offset.includes(".")) {offset = `${offset}.0`}
        const countryCodes = {{ country_codes|tojson|safe }}
        async function signUp() {
            let country = await fetch('https://linkjoin.xyz/location').then(response => response.json())
            const data = await fetch('/confirm_email', {
                headers: {'Content-Type': 'application/json'},
                method: "POST",
                body: JSON.stringify({
                    email: document.getElementById("email").value, redirect: "{{ redirect }}",
                    keep: document.getElementById("keep").checked, number: document.getElementById("phone").value,
                    offset: offset, password: document.getElementById("password").value,
                    countrycode: countryCodes[country['country']]['code'], token: token
                }),
            })
            await processData(data)
        }

       async function googleSignUp(r) {
            disableButton(document.getElementById('submit'))
            disableButton(document.getElementById('gsignin'))
            let country = await fetch('https://linkjoin.xyz/location').then(response => response.json())
            const data = await fetch('/confirm_email', {
                headers: {'Content-Type': 'application/json'},
                method: "POST",
                body: JSON.stringify({redirect: "{{ redirect }}", keep: document.getElementById("keep").checked,
                    jwt: r.credential.toString(), token: token, countrycode: countryCodes[country['country']]['code']})
            })
            await processData(data)
        }

    if (!(navigator.userAgent.indexOf("Chrome") > -1 || navigator.userAgent.indexOf("Firefox") > -1 || navigator.userAgent.indexOf("Safari") > -1)) {
        document.getElementById("gsignin").remove()
    }

    async function processData(data) {
        ['email_in_use', 'invalid_email', 'other_error', 'password_too_short'].forEach((i) => document.getElementById(i).style.display = "none")
        document.getElementById('email').style.border = "none"
        document.getElementById('password').style.border = "none"
        data = await data.json()
        token = data['token']
        if (data['error'] === '') {
            location.replace(`/set_cookie?email=${data['email']}&keep=${data['keep']}&url=${data['url']}&token=${data['token']}`)
        } else {
            enableButton('submit')
            enableButton('gsignin')
            document.getElementById(data['error']).style.display = "block"
            if (data['error'] === 'password_too_short') {
                document.getElementById("password").style.border = "2px solid red"
            } else {
                document.getElementById("email").style.border = "2px solid red"
            }

        }
    }

  </script>
</html>