<html>
    <head>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <title>LinkJoin</title>
        <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/716377034728931331/808876371253919755/BD4CC6EB-AFC2-441C-B524-04BD363BBCE7.png" class="logo">
        <link rel="apple-touch-icon" href="https://cdn.discordapp.com/attachments/716377034728931331/808876371253919755/BD4CC6EB-AFC2-441C-B524-04BD363BBCE7.png" class="logo">
    </head>
    <body>
    <div class="container">
        <svg viewBox="0 0 500 500"
            preserveAspectRatio="xMinYMin meet">

            <<path d="M235, 0 C300, 200 150,
                100 350, 600 L0, 300 L0, 0 Z"
                style="stroke:none; fill:#091B30;">
            </path>
        </svg>
    </div>
    <div class="header">
        <a href="/login"><button class="button login">Log In <img src="https://cdn.discordapp.com/attachments/716377034728931331/808776968392015893/Vector_7.png" height="12px" width="8px" style="top: 0.5px; position: relative;"></button></a>
        <a href="/signup"><button class="button signup">Sign Up</button></a>
        <a href="/about"><button class="button signup" style="left: 10px;">About Us</button></a>
        <img src="https://cdn.discordapp.com/attachments/716377034728931331/808908185611403274/Screen_Shot_2021-02-09_at_7.52.12_PM.png" class="logo">
        <div class="linkjoin">LinkJoin</div>
    </div>
    <div class="img_container">
        <img src="https://cdn.discordapp.com/attachments/716377034728931331/808768032520142868/A_whole_year-bro_1.png" height="650" width="550">
    </div>
    <div class="text_container">
        <div class="intro" style="font-family: Montserrat; font-weight: 700;"><b>Being on time has never been so easy.</b></div>
        <div class="description" style="font-family: Roboto; font-weight: 400;">LinkJoin helps you join meetings automatically at exactly the right moment, even when you're not at the computer.</div>
        <a href="/signup"><button class="get_started" style="font-family: Montserrat; font-weight: 600;">Get started. It's free. <img src="https://cdn.discordapp.com/attachments/716377034728931331/808756764127920198/Vector_1.png" style="top: 3px; left: 8px; position: relative;" width="20px" height="20px"></button></a>
    </div>
    <!--<img src="https://cdn.discordapp.com/attachments/716377034728931331/808768032520142868/A_whole_year-bro_1.png" style="float: right; display: inline;">-->
    <div class="footer">
        <div class="footer_line">
            <img src="https://cdn.discordapp.com/attachments/716377034728931331/808759433991684146/Vector_2.png" class="footer_image"><div class="footer_text">Crafted by Latkecrszy#7777</div>
            <img src="https://cdn.discordapp.com/attachments/716377034728931331/808759569580687380/Vector_4.png" class="footer_image"><div class="footer_text">Join the Discord</div></div><br>
        <div class="footer_line">
        <img src="https://cdn.discordapp.com/attachments/716377034728931331/808759513695649843/Vector_3.png" class="footer_image"><div class="footer_text">Contribute on Github</div>
        <img src="https://cdn.discordapp.com/attachments/716377034728931331/808759659640127548/Vector_5.png" class="footer_image"><div class="footer_text">Buy me a Coffee</div>
        <img src="https://p7.hiclipart.com/preview/262/298/325/computer-icons-hyperlink-symbol-clip-art-chain-link.jpg" class="footer_image"><div class="footer_text"><a href="https://storyset.com/work" style="text-decoration: none; color: white;">Illustration by Freepik Storyset</a></div>
        </div>
    </div>
    </body>
</html>