<!DOCTYPE html>
<html id="main_html" lang="en" class="noscroll">
    <head>
        <link rel="canonical">
        <link rel="manifest" href="../static/manifest.json">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../static/globals.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-MR5B009GBF"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-MR5B009GBF');
        </script>
        <script>
            var googleUser = {};
            var startApp = function() {
            gapi.load('auth2', function(){
              // Retrieve the singleton for the GoogleAuth library and set up the client.
              auth2 = gapi.auth2.init({
                client_id: 'YOUR_CLIENT_ID.apps.googleusercontent.com',
                cookiepolicy: 'single_host_origin',
                // Request scopes in addition to 'profile' and 'email'
                //scope: 'additional_scope'
              });
              attachSignin(document.getElementById('customBtn'));
            });
            };

            function attachSignin(element) {
            console.log(element.id);
            auth2.attachClickHandler(element, {},
                function(googleUser) {
                  document.getElementById('name').innerText = "Signed in: " +
                      googleUser.getBasicProfile().getName();
                }, function(error) {
                  alert(JSON.stringify(error, undefined, 2));
                });
            }
        </script>
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <link href="../static/globals.css" rel="stylesheet"/>
        <link href="../static/website.css" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <title>LinkJoin: Organize Virtual Meetings</title>
        <link rel="shortcut icon" href="../static/images/logo-rounded.png">
        <link rel="icon" type="image/svg" href="../static/images/logo-rounded.png">
        <link rel="apple-touch-icon" href="../static/images/logo-rounded.png">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://linkjoin.xyz">
        <meta property="og:title" content="LinkJoin">
        <meta property="og:description" content="LinkJoin helps you join meetings at exactly the right time, even when you forget.">
        <meta property="og:image" content="../static/images/logo-rounded.png">
        <meta name="description" content="Automatically open virtual meetings and links. Never be late again.">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="keywords" content="organize, organizing, manage, keep, store, late, automate, on time, linkjoin, link, join, zoom, meeting, auto, open, open link, open automatically, open link automatically">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#091B30">
    </head>
    <body id="main_body">
        <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" id="curve">
            <path d="m 235,0 c 65,200 -85,100 115,600 L 0.75595238,600.1131 0,0 Z"></path>
        </svg>
        <header>
            <img id="logo" src="../static/images/logo-text.svg" height="40" alt="LinkJoin Logo">
            <a href="/links" class="underline">Meetings</a>
            <a href="/bookmarks" class="underline">Bookmarks</a>
            <a href="/pricing" class="underline">Pricing</a>
            <a href="/signup" class="underline">Sign Up</a>
            <a href="/login" class="login_button" style="margin-top: 1px">Log In <img src="../static/images/right-angle.svg" height="12px" width="8px" alt="Right facing arrow"></a>

            <div id="dropdown">
                <input id="dropdown-checkbox" type="checkbox"/>
                <span></span>
                <span></span>
                <span></span>
                <div id="hamburger_dropdown">
                    <a href="/login" class="login_button" style="margin: 5px 25px">Log In <img src="../static/images/right-angle.svg" height="12px" width="8px" alt="Right facing arrow"></a>
                    <hr class="menu_line">
                    <a href="/signup" class="underline">Sign Up</a>
                    <hr class="menu_line">
                    <a href="/pricing" class="underline">Pricing</a>
                    <hr class="menu_line">
                    <a href="/bookmarks" class="underline">Bookmarks</a>
                    <hr class="menu_line">
                    <a href="/links" class="underline">Meetings</a>
                </div>
              </div>

        </header>
        <div id="page">
            <div id="left_content">
                <h1 id="motto">Always On Time.</h1>
                <h4 id="description">LinkJoin helps you join meetings at exactly the right time, even when you forget.</h4>
                <a href="/signup"><button class="get_started" id="get_started">Get started for free! <img src="../static/images/arrow-right.svg" width="25px" height="25px" alt="Right arrow"></button></a>
                <a href="https://chromewebstore.google.com/detail/add-to-linkjoin/mhncphjlaeeglmjpgdmclklebdfomele" target="_blank"><button class="get_started" id="get_it_on_chrome">Add to Chrome <img src="../static/images/logos/chrome-logo.svg" width="30px" height="30px" alt="Chrome logo"></button></a>
                <a onclick="document.getElementById('scrollTo').scrollIntoView()"><button class="get_started" id="learn_more">Learn more <img src="../static/images/arrow-down.svg" width="25px" height="25px" alt="Down arrow"></button></a>
            </div>
            <div id="right_content">
                <img src="../static/images/calendar_guy.svg" id="calendar_guy" alt="Man surrounded by calendars">
            </div>
        </div>
        <div id="scrollTo" style="height: 150px"></div>
        <div id="what">
            <h1 class="what-is-linkjoin">LinkJoin streamlines meetings</h1>
            <div class="description desktop">
                LinkJoin keeps track of your meeting links and times so you don't have to. When your meeting starts, LinkJoin will open it automatically.
            </div>
            <div class="center-container">
                <a href="/signup"><button class="signup-button">Sign up for free! <img src="../static/images/arrow-right.svg" width="25px" height="25px" alt="Right arrow"></button></a>
                <!--<button class="signup-button"><img src="../static/images/google-logo.svg" alt="Google logo" height="40px" width="40px"> Sign up with Google</button>-->
            </div>
            <img alt="down arrows" class="down" id="down-arrows-1" onclick="document.getElementById('info-boxes').scrollIntoView()" src="../static/images/arrows-down.svg">
            <div id="info-boxes">
                <div class="info-box">
                    <img alt="pointer" src="../static/images/mouse-pointer.svg" class="info-image">
                    <h2>Auto-join Meetings</h2>
                    <p>
                        Meetings open automatically right on time, taking away the anxiety of being late.
                    </p>
                </div>
                <div class="info-box">
                    <img src="../static/images/paper-plane.svg" alt="plane" class="info-image">
                    <h2>Share Links</h2>
                    <p>
                        Share scheduled meetings to ensure that all participants get there on time.
                    </p>
                </div>
                <div class="info-box">
                    <img src="../static/images/mobile-phone.svg" alt="phone" class="info-image">
                    <h2>Receive Reminders</h2>
                    <p>
                        Get a text reminder before your meeting, so you get back to your computer on time.
                    </p>
                </div>
            </div>
        </div>
        <img alt="down arrows" class="down" onclick="document.getElementById('info').scrollIntoView()" src="../static/images/arrows-down.svg">
        <div id="info">
            <div id="faq-intro">
                <h1>More questions?</h1>
            </div>
            <div id="faq">
                <div class="faq-question" onclick="this.classList.toggle('faq-open')">
                    <img class="faq-down" src="../static/images/angle-down.svg" alt="down arrow">
                    <p>Will my meeting open if I'm not at my computer?</p>
                    <div class="faq-answer">
                        <p>It depends.</p> If your computer is off or asleep, then your meeting will not open. But if your
                        computer is turned on when the meeting is scheduled to open, it will start on its own. To
                        help with this, LinkJoin sends text reminders before your meeting.
                    </div>
                </div>
                <div class="faq-question" onclick="this.classList.toggle('faq-open')">
                    <img class="faq-down" src="../static/images/angle-down.svg" alt="down arrow">
                    <p>Will my camera/mic turn on automatically?</p>
                    <div class="faq-answer">
                        <p>No.</p> All meeting platforms require confirmation before fully entering the meeting. In web-based systems,
                        you do not enter the meeting at all without confirming, and desktop-based systems require confirmation
                        before enabling your microphone and camera. Rest assured, you won't be caught off guard and thrown into
                        a meeting at embarrassing moments.
                    </div>
                </div>
                <div class="faq-question" onclick="this.classList.toggle('faq-open')">
                    <img class="faq-down" src="../static/images/angle-down.svg" alt="down arrow">
                    <p>Why are my meetings not opening?</p>
                    <div class="faq-answer">
                        The most common reason for meetings not opening is popups being disabled. To enable popups in
                        your browser, see the faq questions below. If popups are enabled and your meeting is still not
                        opening, check that the switch on your link is flipped to blue. If you continue experiencing
                        difficulties, please contact support at <p>seth@linkjoin.xyz</p>.
                    </div>
                </div>
                <div class="faq-question" onclick="this.classList.toggle('faq-open')">
                    <img class="faq-down" src="../static/images/angle-down.svg" alt="down arrow">
                    <p>How do I enable pop-ups in Google Chrome?</p>
                    <div class="faq-answer">
                        Start by opening the Chrome settings by clicking on the three dots in the upper right. Select
                        <p>Settings</p> and navigate to the <p>privacy and security</p> tab. Select <p>Site settings</p>,
                        scroll down, and click on <p>Pop-ups and redirects</p>. At the top, select
                        <p>Sites can send pop-ups and use redirects</p>, and you're good to go!
                    </div>
                </div>
                <div class="faq-question" onclick="this.classList.toggle('faq-open')">
                    <img class="faq-down" src="../static/images/angle-down.svg" alt="down arrow">
                    <p>How do I enable popups in FireFox?</p>
                    <div class="faq-answer">
                        Start by clicking the hamburger menu at the top right corner and selecting <p>Preferences</p>.
                        Navigate to the <p>Privacy & Security</p> tab, and scroll down to the permissions section.
                        Uncheck the box labeled <p>Block pop-up windows</p>, and you're all set!
                    </div>
                </div>
                <div class="faq-question" onclick="this.classList.toggle('faq-open')">
                    <img class="faq-down" src="../static/images/angle-down.svg" alt="down arrow">
                    <p>How do I enable popups in Safari?</p>
                    <div class="faq-answer">
                        Press ⌘-, to open Safari settings. Find and click on the <p>Websites</p> tab at the top, and
                        scroll down to the <p>Pop-up windows</p> section on the left at the very bottom. Select it, and
                        change the select menu titled <p>When visiting other websites</p> on the bottom right to
                        <p>Allow</p>. Then, you're all set!
                    </div>
                </div>
                <div class="faq-question" onclick="this.classList.toggle('faq-open')">
                    <img class="faq-down" src="../static/images/angle-down.svg" alt="down arrow">
                    <p>Does LinkJoin work on mobile?</p>
                    <div class="faq-answer">
                        Due to restrictions on mobile devices, links will <p>not</p> automatically open on mobile.
                        However, your links are still fully accessible, and can be opened by clicking on the link.
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-logo">
                <img src="../static/images/logo-text.svg" alt="LinkJoin Logo">
                <p>Always on time.</p>
            </div>
            <div class="column-container">
                <div class="footer-column">
                <p class="title">Contact</p>
                <a href="https://mail.google.com/mail/u/0/?fs=1&to=seth@linkjoin.xyz&tf=cm">seth@linkjoin.xyz</a>
                <p style="margin: 0;">(925) 360-3457</p>
            </div>
            <div class="footer-column">
                <p class="title">Pages</p>
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
                <a href="/pricing">Pricing</a>
                <a href="/links">Meetings</a>
                <a href="/bookmarks">Bookmarks</a>
                <a href="/privacy">Privacy Policy</a>
                <a href="/reset-password">Reset Password</a>
                <a href="https://storyset.com" target="_blank" rel="noreferrer">Graphics Source</a>
            </div>
            </div>
            <div class="copyright">
                <hr>
                <p>© Copyright 2025 LinkJoin. All rights reserved.</p>
            </div>
        </footer>
    </body>
    <script>
        const token = "{{ token }}"
        const loggedIn = "{{ logged_in }}"
        window.addEventListener('load', () => {
            if (loggedIn === 'False') {
                google.accounts.id.initialize({
                client_id: "656426026470-8tkb2jklkpvsovbdvmrjpqv4crsilt93.apps.googleusercontent.com",
                callback: googleLogIn});
                google.accounts.id.prompt();
            }
        })

        async function googleLogIn(r) {
            let data = await fetch('/login', {
                headers: {'Content-Type': 'application/json'},
                method: "POST",
                body: JSON.stringify({redirect: "/links", keep: true,
                    jwt: r.credential.toString(), token: token})
            })
            data = await data.json()
            if (data['error'] === '') {
                location.replace(`/set_cookie?email=${data['email']}&keep=${data['keep']}&url=${data['url']}&token=${data['token']}`)
            }
            else if (data['error'] === 'email_not_found') {
                location.replace('/signup')
            }
            else {
                console.log(data['error'])
                location.replace('/login')
            }
        }


        document.addEventListener('scroll', () => {
            document.getElementById('curve').style.filter = `blur(${window.scrollY*0.08}px)`
            document.getElementById('what').style.opacity = `${(window.scrollY-250)/500}`
            document.getElementById('info-boxes').style.opacity = `${(window.scrollY-900)/500}`
            document.getElementById('info').style.opacity = `${(window.scrollY-1600)/500}`
        })

        if (document.cookie.includes('cookies=accepted')) {
            document.getElementById('popup-cookies').style.display = 'none'
        }
    </script>
</html>